Repository Rtur2003/CrownCode, changes with the labels that .github/labeler.yml gives for each.
All labels: platform, ai-music-detection, data-manipulation, ml-toolkit, frontend, backend, database, javascript, typescript, python, react, nextjs, nodejs, documentation, configuration, styles, tests, github-actions, github-config, deployment, scripts, dependencies, security, authentication, api, ui-ux, performance, accessibility, mobile, machine-learning, tensorflow, audio-processing, data-processing, file-upload, visualization

.github/labeler.yml:

# DevForge Suite - Auto Labeler Configuration

# ===========================================
# PROJECT LABELS
# ===========================================

platform:
  - platform/**
  - platform/**/*

ai-music-detection:
  - projects/ai-music-detection/**
  - projects/ai-music-detection/**/*

data-manipulation:
  - projects/data-manipulation/**
  - projects/data-manipulation/**/*

ml-toolkit:
  - projects/ml-toolkit/**
  - projects/ml-toolkit/**/*

# ===========================================
# COMPONENT LABELS
# ===========================================

frontend:
  - "**/frontend/**"
  - "**/client/**"
  - "**/ui/**"
  - "**/components/**"
  - "**/pages/**"
  - "**/styles/**"

backend:
  - "**/backend/**"
  - "**/server/**"
  - "**/api/**"
  - "**/services/**"
  - "**/controllers/**"
  - "**/routes/**"

database:
  - "**/database/**"
  - "**/db/**"
  - "**/migrations/**"
  - "**/models/**"
  - "**/schema/**"

# ===========================================
# TECHNOLOGY LABELS
# ===========================================

javascript:
  - "**/*.js"
  - "**/*.jsx"
  - "**/*.mjs"

typescript:
  - "**/*.ts"
  - "**/*.tsx"
  - "**/tsconfig.json"
  - "**/tsconfig.*.json"

python:
  - "**/*.py"
  - "**/requirements.txt"
  - "**/Pipfile"
  - "**/pyproject.toml"
  - "**/setup.py"

react:
  - "**/components/**"
  - "**/hooks/**"
  - "**/context/**"
  - "**/*.jsx"
  - "**/*.tsx"

nextjs:
  - "**/pages/**"
  - "**/app/**"
  - "**/next.config.js"
  - "**/next.config.ts"

nodejs:
  - "**/package.json"
  - "**/package-lock.json"
  - "**/yarn.lock"
  - "**/pnpm-lock.yaml"

# ===========================================
# FILE TYPE LABELS
# ===========================================

documentation:
  - "**/*.md"
  - "**/*.mdx"
  - "**/docs/**"
  - "**/README*"
  - "**/CHANGELOG*"
  - "**/CONTRIBUTING*"
  - "**/LICENSE*"

configuration:
  - "**/*.json"
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.toml"
  - "**/*.ini"
  - "**/.env*"
  - "**/config/**"
  - "**/*config*"

styles:
  - "**/*.css"
  - "**/*.scss"
  - "**/*.sass"
  - "**/*.less"
  - "**/styles/**"
  - "**/tailwind.config.*"

tests:
  - "**/*.test.*"
  - "**/*.spec.*"
  - "**/tests/**"
  - "**/test/**"
  - "**/__tests__/**"
  - "**/cypress/**"
  - "**/playwright/**"
  - "**/jest.config.*"
  - "**/vitest.config.*"

# ===========================================
# GITHUB SPECIFIC LABELS
# ===========================================

github-actions:
  - ".github/workflows/**"
  - ".github/actions/**"

github-config:
  - ".github/**"
  - ".github/ISSUE_TEMPLATE/**"
  - ".github/PULL_REQUEST_TEMPLATE/**"
  - ".github/CODEOWNERS"
  - ".github/dependabot.yml"
  - ".github/labeler.yml"

# ===========================================
# DEPLOYMENT LABELS
# ===========================================

deployment:
  - "**/vercel.json"
  - "**/netlify.toml"
  - "**/Dockerfile"
  - "**/docker-compose.*"
  - "**/kubernetes/**"
  - "**/k8s/**"

scripts:
  - "**/scripts/**"
  - "**/*.sh"
  - "**/*.bat"
  - "**/*.ps1"

# ===========================================
# DEPENDENCY LABELS
# ===========================================

dependencies:
  - "**/package.json"
  - "**/package-lock.json"
  - "**/yarn.lock"
  - "**/pnpm-lock.yaml"
  - "**/requirements.txt"
  - "**/Pipfile.lock"
  - "**/Cargo.lock"

security:
  - "**/SECURITY.md"
  - "**/.nvmrc"
  - "**/security/**"

# ===========================================
# FEATURE AREA LABELS
# ===========================================

authentication:
  - "**/auth/**"
  - "**/authentication/**"
  - "**/login/**"
  - "**/signup/**"

api:
  - "**/api/**"
  - "**/routes/**"
  - "**/endpoints/**"

ui-ux:
  - "**/components/**"
  - "**/ui/**"
  - "**/design/**"
  - "**/assets/**"

performance:
  - "**/optimization/**"
  - "**/performance/**"
  - "**/lazy/**"
  - "**/cache/**"

accessibility:
  - "**/a11y/**"
  - "**/accessibility/**"

mobile:
  - "**/mobile/**"
  - "**/responsive/**"
  - "**/touch/**"

# ===========================================
# AI/ML SPECIFIC LABELS
# ===========================================

machine-learning:
  - "**/models/**"
  - "**/ml/**"
  - "**/ai/**"
  - "**/*.pkl"
  - "**/*.h5"
  - "**/*.onnx"

tensorflow:
  - "**/tensorflow/**"
  - "**/tf/**"
  - "**/*tensorflow*"

audio-processing:
  - "**/audio/**"
  - "**/sound/**"
  - "**/wav2vec2/**"
  - "**/spectral/**"

# ===========================================
# DATA PROCESSING LABELS
# ===========================================

data-processing:
  - "**/data/**"
  - "**/processing/**"
  - "**/transform/**"
  - "**/etl/**"

file-upload:
  - "**/upload/**"
  - "**/file/**"
  - "**/storage/**"

visualization:
  - "**/charts/**"
  - "**/graphs/**"
  - "**/visualization/**"
  - "**/dashboard/**"

fix: update issues to fix section with completed tasks for CrownCode
  OPTIMIZATION_PLAN.md
Labels: documentation

feat: create index file for ExternalLink component to export ExternalLinkWarning
  platform/components/ExternalLink/index.ts
Labels: platform, frontend, typescript, react, ui-ux

feat: add ExternalLinkWarning modal to improve user safety with dynamic import
  platform/pages/_app.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: import external-link styles for improved user experience
  platform/styles/globals.css
Labels: platform, frontend, styles

feat: add Crown Vote section and update commend in Turkish localization
  platform/locales/tr.json
Labels: platform, configuration

feat: add Crown Vote section with automation tool details and installation instructions
  platform/locales/tr.json
Labels: platform, configuration

feat: add votryx banner image to enhance visual branding
  platform/public/votryx/votryx-banner.png
Labels: platform

feat: add votryx logo image to enhance visual branding
  platform/public/votryx/votryx-logo.png
Labels: platform

feat: add UI screenshot for visual reference in votryx section
  platform/public/votryx/screenshots/ui-screenshot.png
Labels: platform

feat: add "Crown Vote" entry to navigation in English localization
  platform/locales/en.json
Labels: platform, configuration

feat: add Crown Vote section with automation tool details and installation instructions
  platform/locales/en.json
Labels: platform, configuration

feat: add crown-vote styles for layout and responsiveness
  platform/styles/pages/crown-vote.module.css
Labels: platform, frontend, nextjs, styles

feat: add HeroSection component for Crown Vote with animated header and localized content
  platform/components/CrownVote/HeroSection.tsx
Labels: platform, frontend, typescript, react, ui-ux

feat: create index file for CrownVote component exports
  platform/components/CrownVote/index.ts
Labels: platform, frontend, typescript, react, ui-ux

feat: add DownloadSection component for VOTRYX with release info and system requirements
  platform/components/CrownVote/DownloadSection.tsx
Labels: platform, frontend, typescript, react, ui-ux

feat: add FeaturesGrid component for Crown Vote with animated feature cards
  platform/components/CrownVote/FeaturesGrid.tsx
Labels: platform, frontend, typescript, react, ui-ux

feat: implement ConfigGenerator component for dynamic configuration creation and download
  platform/components/CrownVote/ConfigGenerator.tsx
Labels: platform, frontend, typescript, react, ui-ux

feat: add InstallationGuide component for VOTRYX setup instructions
  platform/components/CrownVote/InstallationGuide.tsx
Labels: platform, frontend, typescript, react, ui-ux

feat: create CrownVotePage component with tab navigation for download and configuration
  platform/pages/crown-vote/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: add 'Vote' navigation item to header
  platform/components/Layout/Header.tsx
Labels: platform, frontend, typescript, react, ui-ux

feat: add 'Bot' icon to ProjectsSection component
  platform/components/Home/ProjectsSection.tsx
Labels: platform, frontend, typescript, react, ui-ux

feat: add 'Crown Vote' project to ProjectsSection component
  platform/components/Home/ProjectsSection.tsx
Labels: platform, frontend, typescript, react, ui-ux

refactor: replace showToast with success for better toast handling in ConfigGenerator
  platform/components/CrownVote/ConfigGenerator.tsx
Labels: platform, frontend, typescript, react, ui-ux

fix: prevent infinite loop in midnight reset check by using ref for destiny tracking
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

refactor: remove unused dark card styles to clean up CSS
  platform/styles/pages/crown-fortune.module.css
Labels: platform, frontend, nextjs, styles

feat: add focus-visible styles to spin button for improved accessibility
  platform/styles/pages/crown-fortune.module.css
Labels: platform, frontend, nextjs, styles

feat: add focus-visible styles to tempt-fate button for improved accessibility
  platform/styles/pages/crown-fortune.module.css
Labels: platform, frontend, nextjs, styles

feat: add focus-visible styles to card modal close button for improved accessibility
  platform/styles/pages/crown-fortune.module.css
Labels: platform, frontend, nextjs, styles

feat: add aria-label and aria-busy attributes to spin button for improved accessibility
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: add accessibility attributes to modal overlay for improved screen reader support
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: optimize card details retrieval with useMemo for improved performance
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: add centralized management for local storage keys in destiny.ts
  platform/data/destiny.ts
Labels: platform, typescript, data-processing

feat: import STORAGE_KEYS for centralized management in CrownFortunePage
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: replace hardcoded local storage keys with STORAGE_KEYS for centralized management
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: replace hardcoded local storage keys with STORAGE_KEYS for consistency
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: replace hardcoded local storage key with STORAGE_KEYS for consistency
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: replace hardcoded local storage keys with STORAGE_KEYS for consistency
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: add USER_ID to STORAGE_KEYS for consistency
  platform/data/destiny.ts
Labels: platform, typescript, data-processing

feat: use STORAGE_KEYS for user ID management in local storage
  platform/data/destiny.ts
Labels: platform, typescript, data-processing

feat: use STORAGE_KEYS for daily destiny and revealed key management in local storage
  platform/data/destiny.ts
Labels: platform, typescript, data-processing
