Repository Rtur2003/CrownCode, changes with the labels that .github/labeler.yml gives for each.
All labels: platform, ai-music-detection, data-manipulation, ml-toolkit, frontend, backend, database, javascript, typescript, python, react, nextjs, nodejs, documentation, configuration, styles, tests, github-actions, github-config, deployment, scripts, dependencies, security, authentication, api, ui-ux, performance, accessibility, mobile, machine-learning, tensorflow, audio-processing, data-processing, file-upload, visualization

feat: add getReverseMessage function to retrieve negative fortune messages
  platform/data/destiny.ts
Labels: platform, typescript, data-processing

feat: add reverse meanings for tarot cards to enhance fortune interpretation
  platform/data/tarot.ts
Labels: platform, typescript, data-processing

feat: implement reverse destiny feature with message retrieval and UI updates
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: enhance reverse destiny handling with local storage updates and UI adjustments
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

Implement feature X to enhance user experience and optimize performance
  platform/styles/pages/crown-fortune.module.css
Labels: platform, frontend, nextjs, styles

Revert "feat: enhance reverse destiny handling with local storage updates and UI adjustments"
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

Revert "Implement feature X to enhance user experience and optimize performance"
  platform/styles/pages/crown-fortune.module.css
Labels: platform, frontend, nextjs, styles

feat: add DestinyBackground component and enhance useDestinySystem with reverse message functionality
  platform/data/DestinyBackground.tsx
  platform/data/destiny-background.module.css
  platform/data/destiny.ts
  platform/data/useDestinySystem.ts
Labels: platform, typescript, react, styles, data-processing

feat: expand AURIS platform documentation with mobile app development details and enhancements
  docs/academic/AKADEMIK_PROJE_RAPORU_TR.md
Labels: documentation

feat: enhance documentation with detailed technology stack and deployment architecture for AURIS platform
  docs/academic/AKADEMIK_PROJE_RAPORU_TR.md
Labels: documentation

feat: enhance CI/CD pipeline with security scans, build steps, and pre-commit hooks
  docs/academic/AKADEMIK_PROJE_RAPORU_TR.md
Labels: documentation

feat: update documentation with backend, mobile, and tools structure for AURIS platform
  README_PLATFORM.md
  docs/academic/AKADEMIK_PROJE_RAPORU_TR.md
Labels: documentation

feat: enhance AURIS documentation with detailed metrics, API endpoints, and configuration settings
  docs/academic/AKADEMIK_PROJE_RAPORU_TR.md
Labels: documentation

feat: enhance AURIS documentation with model references and additional resources
  docs/academic/AKADEMIK_PROJE_RAPORU_TR.md
Labels: documentation

Implement feature X to enhance user experience and optimize performance
  docs/academic/AKADEMIK_PROJE_RAPORU_TR.md
Labels: documentation

feat: add dataset distribution and genre distribution visualizations to documentation
  docs/academic/AKADEMIK_PROJE_RAPORU_TR.md
Labels: documentation

feat: add thesis writing and formatting guidelines document
  docs/academic/AKADEMIK_PROJE_RAPORU_TR.md
  docs/academic/kural.md
Labels: documentation

feat: add useMotionValue, useTransform, and useSpring to enhance animations
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: enhance reverse destiny handling with animation and state management
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: enhance card flipping animation and add dark fate reveal feature
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: migrate card flipping animations to Framer Motion
  platform/styles/pages/crown-fortune.module.css
Labels: platform, frontend, nextjs, styles

feat: add dark back face styling and animations for card component
  platform/styles/pages/crown-fortune.module.css
Labels: platform, frontend, nextjs, styles

feat: enhance BackgroundFloatingCards with responsive card generation and smooth animations
  platform/components/CrownFortune/BackgroundFloatingCards.tsx
Labels: platform, frontend, typescript, react, ui-ux

feat: refactor card styles for improved layout and responsiveness
  platform/components/CrownFortune/BackgroundFloatingCards.module.css
Labels: platform, frontend, react, styles, ui-ux

feat: add new specific and detailed fortune messages with various themes
  platform/data/destiny.ts
Labels: platform, typescript, data-processing

feat: add new specific and detailed fortune messages with various themes
  platform/data/destiny.ts
Labels: platform, typescript, data-processing

feat: add new specific and detailed fortune messages with various themes
  platform/data/destiny.ts
Labels: platform, typescript, data-processing

feat: add new specific and detailed fortune messages with various themes
  platform/data/destiny.ts
Labels: platform, typescript, data-processing

feat: add new specific and detailed fortune messages with various themes
  platform/data/destiny.ts
Labels: platform, typescript, data-processing

feat: implement dream journal system with types, interfaces, and mock data
  platform/data/dreams.ts
Labels: platform, typescript, data-processing

feat: add Crown Dreams page with dream journal functionality and styling
  platform/pages/crown-dreams/index.tsx
  platform/styles/pages/crown-dreams.module.css
Labels: platform, frontend, typescript, react, nextjs, styles

feat: add GlassCard, StatCard, and FeatureCard components with styling and animations
  platform/components/CrownDreams/GlassCard.tsx
Labels: platform, frontend, typescript, react, ui-ux

feat: add GlassCard component with styles and animations
  platform/components/CrownDreams/GlassCard.module.css
Labels: platform, frontend, react, styles, ui-ux

feat: add ProgressBar and CircularProgress components with styles and animations
  platform/components/CrownDreams/ProgressBar.tsx
Labels: platform, frontend, typescript, react, ui-ux

feat: add ProgressBar component with styles for linear and circular progress
  platform/components/CrownDreams/ProgressBar.module.css
Labels: platform, frontend, react, styles, ui-ux

feat: enhance DreamEntry and DreamStats interfaces with additional properties; add DreamPattern and UserProfile interfaces
  platform/data/dreams.ts
Labels: platform, typescript, data-processing

feat: add CyberButton component with styles, variants, and animations
  platform/components/CrownDreams/CyberButton.module.css
Labels: platform, frontend, react, styles, ui-ux

feat: add CyberButton component with loading state, icons, and animations
  platform/components/CrownDreams/CyberButton.tsx
Labels: platform, frontend, typescript, react, ui-ux

feat: add GoldenParticles component with 3D background effects and animations
  platform/components/CrownDreams/GoldenParticles.module.css
Labels: platform, frontend, react, styles, ui-ux

feat: add GoldenParticles component with neural connections, particle field, floating orbs, and dream stars effects
  platform/components/CrownDreams/GoldenParticles.tsx
Labels: platform, frontend, typescript, react, ui-ux

.github/labeler.yml:

# DevForge Suite - Auto Labeler Configuration

# ===========================================
# PROJECT LABELS
# ===========================================

platform:
  - platform/**
  - platform/**/*

ai-music-detection:
  - projects/ai-music-detection/**
  - projects/ai-music-detection/**/*

data-manipulation:
  - projects/data-manipulation/**
  - projects/data-manipulation/**/*

ml-toolkit:
  - projects/ml-toolkit/**
  - projects/ml-toolkit/**/*

# ===========================================
# COMPONENT LABELS
# ===========================================

frontend:
  - "**/frontend/**"
  - "**/client/**"
  - "**/ui/**"
  - "**/components/**"
  - "**/pages/**"
  - "**/styles/**"

backend:
  - "**/backend/**"
  - "**/server/**"
  - "**/api/**"
  - "**/services/**"
  - "**/controllers/**"
  - "**/routes/**"

database:
  - "**/database/**"
  - "**/db/**"
  - "**/migrations/**"
  - "**/models/**"
  - "**/schema/**"

# ===========================================
# TECHNOLOGY LABELS
# ===========================================

javascript:
  - "**/*.js"
  - "**/*.jsx"
  - "**/*.mjs"

typescript:
  - "**/*.ts"
  - "**/*.tsx"
  - "**/tsconfig.json"
  - "**/tsconfig.*.json"

python:
  - "**/*.py"
  - "**/requirements.txt"
  - "**/Pipfile"
  - "**/pyproject.toml"
  - "**/setup.py"

react:
  - "**/components/**"
  - "**/hooks/**"
  - "**/context/**"
  - "**/*.jsx"
  - "**/*.tsx"

nextjs:
  - "**/pages/**"
  - "**/app/**"
  - "**/next.config.js"
  - "**/next.config.ts"

nodejs:
  - "**/package.json"
  - "**/package-lock.json"
  - "**/yarn.lock"
  - "**/pnpm-lock.yaml"

# ===========================================
# FILE TYPE LABELS
# ===========================================

documentation:
  - "**/*.md"
  - "**/*.mdx"
  - "**/docs/**"
  - "**/README*"
  - "**/CHANGELOG*"
  - "**/CONTRIBUTING*"
  - "**/LICENSE*"

configuration:
  - "**/*.json"
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.toml"
  - "**/*.ini"
  - "**/.env*"
  - "**/config/**"
  - "**/*config*"

styles:
  - "**/*.css"
  - "**/*.scss"
  - "**/*.sass"
  - "**/*.less"
  - "**/styles/**"
  - "**/tailwind.config.*"

tests:
  - "**/*.test.*"
  - "**/*.spec.*"
  - "**/tests/**"
  - "**/test/**"
  - "**/__tests__/**"
  - "**/cypress/**"
  - "**/playwright/**"
  - "**/jest.config.*"
  - "**/vitest.config.*"

# ===========================================
# GITHUB SPECIFIC LABELS
# ===========================================

github-actions:
  - ".github/workflows/**"
  - ".github/actions/**"

github-config:
  - ".github/**"
  - ".github/ISSUE_TEMPLATE/**"
  - ".github/PULL_REQUEST_TEMPLATE/**"
  - ".github/CODEOWNERS"
  - ".github/dependabot.yml"
  - ".github/labeler.yml"

# ===========================================
# DEPLOYMENT LABELS
# ===========================================

deployment:
  - "**/vercel.json"
  - "**/netlify.toml"
  - "**/Dockerfile"
  - "**/docker-compose.*"
  - "**/kubernetes/**"
  - "**/k8s/**"

scripts:
  - "**/scripts/**"
  - "**/*.sh"
  - "**/*.bat"
  - "**/*.ps1"

# ===========================================
# DEPENDENCY LABELS
# ===========================================

dependencies:
  - "**/package.json"
  - "**/package-lock.json"
  - "**/yarn.lock"
  - "**/pnpm-lock.yaml"
  - "**/requirements.txt"
  - "**/Pipfile.lock"
  - "**/Cargo.lock"

security:
  - "**/SECURITY.md"
  - "**/.nvmrc"
  - "**/security/**"

# ===========================================
# FEATURE AREA LABELS
# ===========================================

authentication:
  - "**/auth/**"
  - "**/authentication/**"
  - "**/login/**"
  - "**/signup/**"

api:
  - "**/api/**"
  - "**/routes/**"
  - "**/endpoints/**"

ui-ux:
  - "**/components/**"
  - "**/ui/**"
  - "**/design/**"
  - "**/assets/**"

performance:
  - "**/optimization/**"
  - "**/performance/**"
  - "**/lazy/**"
  - "**/cache/**"

accessibility:
  - "**/a11y/**"
  - "**/accessibility/**"

mobile:
  - "**/mobile/**"
  - "**/responsive/**"
  - "**/touch/**"

# ===========================================
# AI/ML SPECIFIC LABELS
# ===========================================

machine-learning:
  - "**/models/**"
  - "**/ml/**"
  - "**/ai/**"
  - "**/*.pkl"
  - "**/*.h5"
  - "**/*.onnx"

tensorflow:
  - "**/tensorflow/**"
  - "**/tf/**"
  - "**/*tensorflow*"

audio-processing:
  - "**/audio/**"
  - "**/sound/**"
  - "**/wav2vec2/**"
  - "**/spectral/**"

# ===========================================
# DATA PROCESSING LABELS
# ===========================================

data-processing:
  - "**/data/**"
  - "**/processing/**"
  - "**/transform/**"
  - "**/etl/**"

file-upload:
  - "**/upload/**"
  - "**/file/**"
  - "**/storage/**"

visualization:
  - "**/charts/**"
  - "**/graphs/**"
  - "**/visualization/**"
  - "**/dashboard/**"
