Repository Rtur2003/CrownCode, changes with the labels that .github/labeler.yml gives for each.
All labels: platform, ai-music-detection, data-manipulation, ml-toolkit, frontend, backend, database, javascript, typescript, python, react, nextjs, nodejs, documentation, configuration, styles, tests, github-actions, github-config, deployment, scripts, dependencies, security, authentication, api, ui-ux, performance, accessibility, mobile, machine-learning, tensorflow, audio-processing, data-processing, file-upload, visualization

.github/labeler.yml:

# DevForge Suite - Auto Labeler Configuration

# ===========================================
# PROJECT LABELS
# ===========================================

platform:
  - platform/**
  - platform/**/*

ai-music-detection:
  - projects/ai-music-detection/**
  - projects/ai-music-detection/**/*

data-manipulation:
  - projects/data-manipulation/**
  - projects/data-manipulation/**/*

ml-toolkit:
  - projects/ml-toolkit/**
  - projects/ml-toolkit/**/*

# ===========================================
# COMPONENT LABELS
# ===========================================

frontend:
  - "**/frontend/**"
  - "**/client/**"
  - "**/ui/**"
  - "**/components/**"
  - "**/pages/**"
  - "**/styles/**"

backend:
  - "**/backend/**"
  - "**/server/**"
  - "**/api/**"
  - "**/services/**"
  - "**/controllers/**"
  - "**/routes/**"

database:
  - "**/database/**"
  - "**/db/**"
  - "**/migrations/**"
  - "**/models/**"
  - "**/schema/**"

# ===========================================
# TECHNOLOGY LABELS
# ===========================================

javascript:
  - "**/*.js"
  - "**/*.jsx"
  - "**/*.mjs"

typescript:
  - "**/*.ts"
  - "**/*.tsx"
  - "**/tsconfig.json"
  - "**/tsconfig.*.json"

python:
  - "**/*.py"
  - "**/requirements.txt"
  - "**/Pipfile"
  - "**/pyproject.toml"
  - "**/setup.py"

react:
  - "**/components/**"
  - "**/hooks/**"
  - "**/context/**"
  - "**/*.jsx"
  - "**/*.tsx"

nextjs:
  - "**/pages/**"
  - "**/app/**"
  - "**/next.config.js"
  - "**/next.config.ts"

nodejs:
  - "**/package.json"
  - "**/package-lock.json"
  - "**/yarn.lock"
  - "**/pnpm-lock.yaml"

# ===========================================
# FILE TYPE LABELS
# ===========================================

documentation:
  - "**/*.md"
  - "**/*.mdx"
  - "**/docs/**"
  - "**/README*"
  - "**/CHANGELOG*"
  - "**/CONTRIBUTING*"
  - "**/LICENSE*"

configuration:
  - "**/*.json"
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.toml"
  - "**/*.ini"
  - "**/.env*"
  - "**/config/**"
  - "**/*config*"

styles:
  - "**/*.css"
  - "**/*.scss"
  - "**/*.sass"
  - "**/*.less"
  - "**/styles/**"
  - "**/tailwind.config.*"

tests:
  - "**/*.test.*"
  - "**/*.spec.*"
  - "**/tests/**"
  - "**/test/**"
  - "**/__tests__/**"
  - "**/cypress/**"
  - "**/playwright/**"
  - "**/jest.config.*"
  - "**/vitest.config.*"

# ===========================================
# GITHUB SPECIFIC LABELS
# ===========================================

github-actions:
  - ".github/workflows/**"
  - ".github/actions/**"

github-config:
  - ".github/**"
  - ".github/ISSUE_TEMPLATE/**"
  - ".github/PULL_REQUEST_TEMPLATE/**"
  - ".github/CODEOWNERS"
  - ".github/dependabot.yml"
  - ".github/labeler.yml"

# ===========================================
# DEPLOYMENT LABELS
# ===========================================

deployment:
  - "**/vercel.json"
  - "**/netlify.toml"
  - "**/Dockerfile"
  - "**/docker-compose.*"
  - "**/kubernetes/**"
  - "**/k8s/**"

scripts:
  - "**/scripts/**"
  - "**/*.sh"
  - "**/*.bat"
  - "**/*.ps1"

# ===========================================
# DEPENDENCY LABELS
# ===========================================

dependencies:
  - "**/package.json"
  - "**/package-lock.json"
  - "**/yarn.lock"
  - "**/pnpm-lock.yaml"
  - "**/requirements.txt"
  - "**/Pipfile.lock"
  - "**/Cargo.lock"

security:
  - "**/SECURITY.md"
  - "**/.nvmrc"
  - "**/security/**"

# ===========================================
# FEATURE AREA LABELS
# ===========================================

authentication:
  - "**/auth/**"
  - "**/authentication/**"
  - "**/login/**"
  - "**/signup/**"

api:
  - "**/api/**"
  - "**/routes/**"
  - "**/endpoints/**"

ui-ux:
  - "**/components/**"
  - "**/ui/**"
  - "**/design/**"
  - "**/assets/**"

performance:
  - "**/optimization/**"
  - "**/performance/**"
  - "**/lazy/**"
  - "**/cache/**"

accessibility:
  - "**/a11y/**"
  - "**/accessibility/**"

mobile:
  - "**/mobile/**"
  - "**/responsive/**"
  - "**/touch/**"

# ===========================================
# AI/ML SPECIFIC LABELS
# ===========================================

machine-learning:
  - "**/models/**"
  - "**/ml/**"
  - "**/ai/**"
  - "**/*.pkl"
  - "**/*.h5"
  - "**/*.onnx"

tensorflow:
  - "**/tensorflow/**"
  - "**/tf/**"
  - "**/*tensorflow*"

audio-processing:
  - "**/audio/**"
  - "**/sound/**"
  - "**/wav2vec2/**"
  - "**/spectral/**"

# ===========================================
# DATA PROCESSING LABELS
# ===========================================

data-processing:
  - "**/data/**"
  - "**/processing/**"
  - "**/transform/**"
  - "**/etl/**"

file-upload:
  - "**/upload/**"
  - "**/file/**"
  - "**/storage/**"

visualization:
  - "**/charts/**"
  - "**/graphs/**"
  - "**/visualization/**"
  - "**/dashboard/**"

:)
  platform/components/KeyboardShortcuts/ShortcutsModal.tsx
  platform/components/UI/Skeleton/HeroSkeleton.tsx
  platform/components/UI/Skeleton/ProjectCardSkeleton.tsx
  platform/components/UI/Skeleton/Skeleton.tsx
  platform/hooks/useKeyboardShortcuts.ts
  platform/pages/_app.tsx
  platform/styles/components/shortcuts-modal.css
  platform/styles/components/skeleton.css
  platform/styles/globals.css
Labels: platform, frontend, typescript, react, nextjs, styles, ui-ux

dil
  platform/components/Layout/MobileNavigation.tsx
Labels: platform, frontend, typescript, react, ui-ux

.
  platform/styles/globals.css
Labels: platform, frontend, styles

,
  platform/next.config.js
Labels: platform, javascript, nextjs, configuration

.
  platform/pages/_document.tsx
Labels: platform, frontend, typescript, react, nextjs

m
  docker-compose.yml
  package-lock.json
  platform/public/sitemap.xml
Labels: platform, nodejs, configuration, deployment, dependencies

m
  .github/workflows/ci.yml
  README.md
  platform/.lintstagedrc.json
Labels: platform, documentation, configuration, github-actions, github-config

c
  platform/.dockerignore
  platform/public/_headers
Labels: platform

a
  platform/package.json
Labels: platform, nodejs, configuration, dependencies

mm
  platform/.eslintrc.json
  platform/.prettierrc.json
Labels: platform, configuration

s
  platform/.husky/pre-commit
  platform/Dockerfile
Labels: platform, deployment

ss
  platform/components/Search/SearchModal.tsx
Labels: platform, frontend, typescript, react, ui-ux

hmm
  platform/next.config.js
Labels: platform, javascript, nextjs, configuration

s
  platform/components/Navigation/ProjectDropdown.tsx
Labels: platform, frontend, typescript, react, ui-ux

mm
  platform/pages/_error.tsx
Labels: platform, frontend, typescript, react, nextjs

k
  platform/.prettierignore
  platform/components/MLToolkit/DownloadButton.tsx
Labels: platform, frontend, typescript, react, ui-ux

mm
  platform/components/Search/SearchModal.tsx
Labels: platform, frontend, typescript, react, ui-ux

kk
  platform/components/Navigation/ProjectDropdown.tsx
Labels: platform, frontend, typescript, react, ui-ux

ss
  platform/components/UI/Toast/Toast.tsx
Labels: platform, frontend, typescript, react, ui-ux

mm
  platform/public/profil1.png
  platform/public/profil2.png
  platform/public/profil3.png
  platform/public/profil4.png
Labels: platform

s
  platform/components/Home/AboutSection.tsx
Labels: platform, frontend, typescript, react, ui-ux

dil
  platform/locales/en.json
  platform/locales/tr.json
Labels: platform, configuration

sayfa değişiklikleri
  platform/pages/index.tsx
  platform/styles/components/about.css
  platform/styles/globals.css
Labels: platform, frontend, typescript, react, nextjs, styles, ui-ux

seo
  platform/public/robots.txt
  platform/public/sitemap.xml
Labels: platform

m
  platform/components/Home/AboutSection.tsx
  platform/locales/en.json
  platform/locales/tr.json
  platform/pages/index.tsx
  platform/public/robots.txt
  platform/public/sitemap.xml
Labels: platform, frontend, typescript, react, nextjs, configuration, ui-ux

dil
  platform/locales/en.json
  platform/locales/tr.json
Labels: platform, configuration

dil
  platform/locales/en.json
Labels: platform, configuration

a
  platform/pages/index.tsx
Labels: platform, frontend, typescript, react, nextjs

m
  platform/locales/en.json
Labels: platform, configuration

✅ TypeScript type-check: GEÇTİ ✅ Kod kalitesi: İYİLEŞTİRİLDİ ✅ Çöp dosyalar: TEMİZLENDİ ✅ Translation system: DOĞRU KULLANILIYOR ✅ useCallback dependencies: TAMAMLANDI
  platform/locales/en.json
  platform/locales/tr.json
  platform/pages/ai-music-detection/index.tsx
Labels: platform, frontend, typescript, react, nextjs, configuration

.
  platform/components/ErrorBoundary/ErrorBoundary.tsx
  platform/components/KeyboardShortcuts/ShortcutsModal.tsx
  platform/components/Layout/Footer.tsx
  platform/components/Layout/MobileNavigation.tsx
  platform/components/MLToolkit/FileUploader.tsx
  platform/components/MLToolkit/ImageAugmentation.tsx
  platform/components/UI/Toast/Toast.tsx
  platform/pages/404.tsx
  platform/pages/_app.tsx
  platform/pages/ai-music-detection/index.tsx
Labels: platform, frontend, typescript, react, nextjs, ui-ux

.
  platform/pages/_document.tsx
  platform/pages/search.tsx
  platform/public/sitemap.xml
Labels: platform, frontend, typescript, react, nextjs

.
  platform/public/sitemap.xml
  platform/public/sitemap.xsl
Labels: platform

.
  platform/next.config.js
Labels: platform, javascript, nextjs, configuration

rapor sorunları düzeltildi
  platform/components/Layout/Header.tsx
  platform/pages/_app.tsx
  platform/public/manifest.json
  platform/styles/base/variables.css
Labels: platform, frontend, typescript, react, nextjs, configuration, styles, ui-ux

hook: add youtube analysis hook with preview fallback
  platform/hooks/useYouTubeAnalysis.ts
Labels: platform, typescript, react

page: switch ai music detection view to youtube flow
  platform/pages/ai-music-detection/index.tsx
Labels: platform, frontend, typescript, react, nextjs

styles: align ai detection layout with youtube workflow
  platform/styles/pages/ai-detection.module.css
Labels: platform, frontend, nextjs, styles

i18n: update english copy for youtube analysis flow
  platform/locales/en.json
Labels: platform, configuration

i18n: normalize turkish locale for youtube workflow
  platform/locales/tr.json
Labels: platform, configuration
