Repository Rtur2003/CrownCode, changes with the labels that .github/labeler.yml gives for each.
All labels: platform, ai-music-detection, data-manipulation, ml-toolkit, frontend, backend, database, javascript, typescript, python, react, nextjs, nodejs, documentation, configuration, styles, tests, github-actions, github-config, deployment, scripts, dependencies, security, authentication, api, ui-ux, performance, accessibility, mobile, machine-learning, tensorflow, audio-processing, data-processing, file-upload, visualization

.github/labeler.yml:

# DevForge Suite - Auto Labeler Configuration

# ===========================================
# PROJECT LABELS
# ===========================================

platform:
  - platform/**
  - platform/**/*

ai-music-detection:
  - projects/ai-music-detection/**
  - projects/ai-music-detection/**/*

data-manipulation:
  - projects/data-manipulation/**
  - projects/data-manipulation/**/*

ml-toolkit:
  - projects/ml-toolkit/**
  - projects/ml-toolkit/**/*

# ===========================================
# COMPONENT LABELS
# ===========================================

frontend:
  - "**/frontend/**"
  - "**/client/**"
  - "**/ui/**"
  - "**/components/**"
  - "**/pages/**"
  - "**/styles/**"

backend:
  - "**/backend/**"
  - "**/server/**"
  - "**/api/**"
  - "**/services/**"
  - "**/controllers/**"
  - "**/routes/**"

database:
  - "**/database/**"
  - "**/db/**"
  - "**/migrations/**"
  - "**/models/**"
  - "**/schema/**"

# ===========================================
# TECHNOLOGY LABELS
# ===========================================

javascript:
  - "**/*.js"
  - "**/*.jsx"
  - "**/*.mjs"

typescript:
  - "**/*.ts"
  - "**/*.tsx"
  - "**/tsconfig.json"
  - "**/tsconfig.*.json"

python:
  - "**/*.py"
  - "**/requirements.txt"
  - "**/Pipfile"
  - "**/pyproject.toml"
  - "**/setup.py"

react:
  - "**/components/**"
  - "**/hooks/**"
  - "**/context/**"
  - "**/*.jsx"
  - "**/*.tsx"

nextjs:
  - "**/pages/**"
  - "**/app/**"
  - "**/next.config.js"
  - "**/next.config.ts"

nodejs:
  - "**/package.json"
  - "**/package-lock.json"
  - "**/yarn.lock"
  - "**/pnpm-lock.yaml"

# ===========================================
# FILE TYPE LABELS
# ===========================================

documentation:
  - "**/*.md"
  - "**/*.mdx"
  - "**/docs/**"
  - "**/README*"
  - "**/CHANGELOG*"
  - "**/CONTRIBUTING*"
  - "**/LICENSE*"

configuration:
  - "**/*.json"
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.toml"
  - "**/*.ini"
  - "**/.env*"
  - "**/config/**"
  - "**/*config*"

styles:
  - "**/*.css"
  - "**/*.scss"
  - "**/*.sass"
  - "**/*.less"
  - "**/styles/**"
  - "**/tailwind.config.*"

tests:
  - "**/*.test.*"
  - "**/*.spec.*"
  - "**/tests/**"
  - "**/test/**"
  - "**/__tests__/**"
  - "**/cypress/**"
  - "**/playwright/**"
  - "**/jest.config.*"
  - "**/vitest.config.*"

# ===========================================
# GITHUB SPECIFIC LABELS
# ===========================================

github-actions:
  - ".github/workflows/**"
  - ".github/actions/**"

github-config:
  - ".github/**"
  - ".github/ISSUE_TEMPLATE/**"
  - ".github/PULL_REQUEST_TEMPLATE/**"
  - ".github/CODEOWNERS"
  - ".github/dependabot.yml"
  - ".github/labeler.yml"

# ===========================================
# DEPLOYMENT LABELS
# ===========================================

deployment:
  - "**/vercel.json"
  - "**/netlify.toml"
  - "**/Dockerfile"
  - "**/docker-compose.*"
  - "**/kubernetes/**"
  - "**/k8s/**"

scripts:
  - "**/scripts/**"
  - "**/*.sh"
  - "**/*.bat"
  - "**/*.ps1"

# ===========================================
# DEPENDENCY LABELS
# ===========================================

dependencies:
  - "**/package.json"
  - "**/package-lock.json"
  - "**/yarn.lock"
  - "**/pnpm-lock.yaml"
  - "**/requirements.txt"
  - "**/Pipfile.lock"
  - "**/Cargo.lock"

security:
  - "**/SECURITY.md"
  - "**/.nvmrc"
  - "**/security/**"

# ===========================================
# FEATURE AREA LABELS
# ===========================================

authentication:
  - "**/auth/**"
  - "**/authentication/**"
  - "**/login/**"
  - "**/signup/**"

api:
  - "**/api/**"
  - "**/routes/**"
  - "**/endpoints/**"

ui-ux:
  - "**/components/**"
  - "**/ui/**"
  - "**/design/**"
  - "**/assets/**"

performance:
  - "**/optimization/**"
  - "**/performance/**"
  - "**/lazy/**"
  - "**/cache/**"

accessibility:
  - "**/a11y/**"
  - "**/accessibility/**"

mobile:
  - "**/mobile/**"
  - "**/responsive/**"
  - "**/touch/**"

# ===========================================
# AI/ML SPECIFIC LABELS
# ===========================================

machine-learning:
  - "**/models/**"
  - "**/ml/**"
  - "**/ai/**"
  - "**/*.pkl"
  - "**/*.h5"
  - "**/*.onnx"

tensorflow:
  - "**/tensorflow/**"
  - "**/tf/**"
  - "**/*tensorflow*"

audio-processing:
  - "**/audio/**"
  - "**/sound/**"
  - "**/wav2vec2/**"
  - "**/spectral/**"

# ===========================================
# DATA PROCESSING LABELS
# ===========================================

data-processing:
  - "**/data/**"
  - "**/processing/**"
  - "**/transform/**"
  - "**/etl/**"

file-upload:
  - "**/upload/**"
  - "**/file/**"
  - "**/storage/**"

visualization:
  - "**/charts/**"
  - "**/graphs/**"
  - "**/visualization/**"
  - "**/dashboard/**"

feat: use STORAGE_KEYS for daily destiny storage key in local storage
  platform/data/destiny.ts
Labels: platform, typescript, data-processing

feat: replace hardcoded local storage keys with STORAGE_KEYS in clearDestinyData function
  platform/data/destiny.ts
Labels: platform, typescript, data-processing

feat: add Turkish translations for card and modal components
  platform/locales/tr.json
Labels: platform, configuration

feat: update card component with new dark fate phrases in Turkish
  platform/locales/tr.json
Labels: platform, configuration

feat: add card and modal components with dark fate phrases and disclaimer
  platform/locales/en.json
Labels: platform, configuration

feat: update card component to use translation for reversed card text and dark fate label
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: update card component to use translation for warning message
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: update click to enlarge text to use translation
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: update reveal dark fate text to use translation
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: update dark fate revealed text to use translation
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: update modal close button to use translation for aria-label
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: update card modal name to use translation for reversed state
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: implement daily counter fetching and incrementing logic
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: add fortune counter API endpoint with daily count tracking
  platform/pages/api/fortune-counter.ts
Labels: platform, frontend, backend, typescript, nextjs, api

feat: enhance header stats with daily counter display
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: add daily counter display with styling for header stats
  platform/locales/en.json
  platform/locales/tr.json
  platform/styles/pages/crown-fortune.module.css
Labels: platform, frontend, nextjs, configuration, styles

feat: enhance error fallback component and add daily counter availability logic
  platform/components/ErrorBoundary/ErrorFallback.tsx
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs, ui-ux

feat: optimize memoization of card details in CrownFortunePage component
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: add details check to loading state in CrownFortunePage component
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: add modal ESC key handler and body scroll lock in CrownFortunePage component
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

fix: use constant for counter refresh interval in CrownFortunePage component
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

refactor: replace hardcoded intervals with animation constants in CrownFortunePage component
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

refactor: simplify date handling in getTurkeyDate function using Intl.DateTimeFormat
  platform/pages/api/fortune-counter.ts
Labels: platform, frontend, backend, typescript, nextjs, api

feat: implement rate limiting for fortune counter API
  platform/pages/api/fortune-counter.ts
Labels: platform, frontend, backend, typescript, nextjs, api

refactor: improve readability by adding braces to conditional statements in useEffect hooks
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

refactor: add braces to conditional statements for improved readability in ExternalLinkWarning and CrownCommendPage components
  platform/components/ExternalLink/ExternalLinkWarning.tsx
  platform/pages/crown-commend/index.tsx
  platform/pages/crown-dreams/index.tsx
Labels: platform, frontend, typescript, react, nextjs, ui-ux

feat: add Image component import to HeroSection for enhanced image handling
  platform/components/Home/HeroSection.tsx
Labels: platform, frontend, typescript, react, ui-ux

feat: replace img tags with Image component for improved image handling in HeroSection
  platform/components/Home/HeroSection.tsx
Labels: platform, frontend, typescript, react, ui-ux

refactor: rename tab state variables for consistency in CrownDreamsPage component
  platform/pages/crown-dreams/index.tsx
Labels: platform, frontend, typescript, react, nextjs

refactor: rename activeTab state variable for clarity in CrownDreamsPage component
  platform/pages/crown-dreams/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: add canvas-confetti, html-to-image, howler, and use-sound packages with type definitions
  package-lock.json
Labels: nodejs, configuration, dependencies

feat: add canvas-confetti, html-to-image, and use-sound dependencies with type definitions
  platform/package.json
Labels: platform, nodejs, configuration, dependencies

feat: add sound effects and haptic feedback for enhanced user experience in CrownFortunePage
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: add social media sharing and download functionality for fortune cards in CrownFortunePage
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: add share and download functionality to CrownFortunePage
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

refactor: clean up unused motion div elements in CrownFortunePage
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: add button type attribute to card modal close button in CrownFortunePage
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: add sound toggle and share actions styles in CrownFortunePage
  platform/styles/pages/crown-fortune.module.css
Labels: platform, frontend, nextjs, styles

feat: add backdrop filter to spin button for enhanced visual effect
  platform/styles/pages/crown-fortune.module.css
Labels: platform, frontend, nextjs, styles

refactor: remove share and download functionality from CrownFortunePage
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs
