Repository Rtur2003/CrownCode, changes with the labels that .github/labeler.yml gives for each.
All labels: platform, ai-music-detection, data-manipulation, ml-toolkit, frontend, backend, database, javascript, typescript, python, react, nextjs, nodejs, documentation, configuration, styles, tests, github-actions, github-config, deployment, scripts, dependencies, security, authentication, api, ui-ux, performance, accessibility, mobile, machine-learning, tensorflow, audio-processing, data-processing, file-upload, visualization

.github/labeler.yml:

# DevForge Suite - Auto Labeler Configuration

# ===========================================
# PROJECT LABELS
# ===========================================

platform:
  - platform/**
  - platform/**/*

ai-music-detection:
  - projects/ai-music-detection/**
  - projects/ai-music-detection/**/*

data-manipulation:
  - projects/data-manipulation/**
  - projects/data-manipulation/**/*

ml-toolkit:
  - projects/ml-toolkit/**
  - projects/ml-toolkit/**/*

# ===========================================
# COMPONENT LABELS
# ===========================================

frontend:
  - "**/frontend/**"
  - "**/client/**"
  - "**/ui/**"
  - "**/components/**"
  - "**/pages/**"
  - "**/styles/**"

backend:
  - "**/backend/**"
  - "**/server/**"
  - "**/api/**"
  - "**/services/**"
  - "**/controllers/**"
  - "**/routes/**"

database:
  - "**/database/**"
  - "**/db/**"
  - "**/migrations/**"
  - "**/models/**"
  - "**/schema/**"

# ===========================================
# TECHNOLOGY LABELS
# ===========================================

javascript:
  - "**/*.js"
  - "**/*.jsx"
  - "**/*.mjs"

typescript:
  - "**/*.ts"
  - "**/*.tsx"
  - "**/tsconfig.json"
  - "**/tsconfig.*.json"

python:
  - "**/*.py"
  - "**/requirements.txt"
  - "**/Pipfile"
  - "**/pyproject.toml"
  - "**/setup.py"

react:
  - "**/components/**"
  - "**/hooks/**"
  - "**/context/**"
  - "**/*.jsx"
  - "**/*.tsx"

nextjs:
  - "**/pages/**"
  - "**/app/**"
  - "**/next.config.js"
  - "**/next.config.ts"

nodejs:
  - "**/package.json"
  - "**/package-lock.json"
  - "**/yarn.lock"
  - "**/pnpm-lock.yaml"

# ===========================================
# FILE TYPE LABELS
# ===========================================

documentation:
  - "**/*.md"
  - "**/*.mdx"
  - "**/docs/**"
  - "**/README*"
  - "**/CHANGELOG*"
  - "**/CONTRIBUTING*"
  - "**/LICENSE*"

configuration:
  - "**/*.json"
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.toml"
  - "**/*.ini"
  - "**/.env*"
  - "**/config/**"
  - "**/*config*"

styles:
  - "**/*.css"
  - "**/*.scss"
  - "**/*.sass"
  - "**/*.less"
  - "**/styles/**"
  - "**/tailwind.config.*"

tests:
  - "**/*.test.*"
  - "**/*.spec.*"
  - "**/tests/**"
  - "**/test/**"
  - "**/__tests__/**"
  - "**/cypress/**"
  - "**/playwright/**"
  - "**/jest.config.*"
  - "**/vitest.config.*"

# ===========================================
# GITHUB SPECIFIC LABELS
# ===========================================

github-actions:
  - ".github/workflows/**"
  - ".github/actions/**"

github-config:
  - ".github/**"
  - ".github/ISSUE_TEMPLATE/**"
  - ".github/PULL_REQUEST_TEMPLATE/**"
  - ".github/CODEOWNERS"
  - ".github/dependabot.yml"
  - ".github/labeler.yml"

# ===========================================
# DEPLOYMENT LABELS
# ===========================================

deployment:
  - "**/vercel.json"
  - "**/netlify.toml"
  - "**/Dockerfile"
  - "**/docker-compose.*"
  - "**/kubernetes/**"
  - "**/k8s/**"

scripts:
  - "**/scripts/**"
  - "**/*.sh"
  - "**/*.bat"
  - "**/*.ps1"

# ===========================================
# DEPENDENCY LABELS
# ===========================================

dependencies:
  - "**/package.json"
  - "**/package-lock.json"
  - "**/yarn.lock"
  - "**/pnpm-lock.yaml"
  - "**/requirements.txt"
  - "**/Pipfile.lock"
  - "**/Cargo.lock"

security:
  - "**/SECURITY.md"
  - "**/.nvmrc"
  - "**/security/**"

# ===========================================
# FEATURE AREA LABELS
# ===========================================

authentication:
  - "**/auth/**"
  - "**/authentication/**"
  - "**/login/**"
  - "**/signup/**"

api:
  - "**/api/**"
  - "**/routes/**"
  - "**/endpoints/**"

ui-ux:
  - "**/components/**"
  - "**/ui/**"
  - "**/design/**"
  - "**/assets/**"

performance:
  - "**/optimization/**"
  - "**/performance/**"
  - "**/lazy/**"
  - "**/cache/**"

accessibility:
  - "**/a11y/**"
  - "**/accessibility/**"

mobile:
  - "**/mobile/**"
  - "**/responsive/**"
  - "**/touch/**"

# ===========================================
# AI/ML SPECIFIC LABELS
# ===========================================

machine-learning:
  - "**/models/**"
  - "**/ml/**"
  - "**/ai/**"
  - "**/*.pkl"
  - "**/*.h5"
  - "**/*.onnx"

tensorflow:
  - "**/tensorflow/**"
  - "**/tf/**"
  - "**/*tensorflow*"

audio-processing:
  - "**/audio/**"
  - "**/sound/**"
  - "**/wav2vec2/**"
  - "**/spectral/**"

# ===========================================
# DATA PROCESSING LABELS
# ===========================================

data-processing:
  - "**/data/**"
  - "**/processing/**"
  - "**/transform/**"
  - "**/etl/**"

file-upload:
  - "**/upload/**"
  - "**/file/**"
  - "**/storage/**"

visualization:
  - "**/charts/**"
  - "**/graphs/**"
  - "**/visualization/**"
  - "**/dashboard/**"

feat: add share and download functionality to CrownFortunePage
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

fix: update Twitter share URL to use x.com
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: implement streak tracking system with milestones in destiny module
  platform/data/destiny.ts
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs, data-processing

feat: add streak state management to CrownFortunePage
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: load streak data on component mount
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: update streak on card flip
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: add animated streak counter to CrownFortunePage
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: add streak counter styles with animations and responsive design
  platform/styles/pages/crown-fortune.module.css
Labels: platform, frontend, nextjs, styles

feat: add CARD_COLLECTION key to STORAGE_KEYS for streak management
  platform/data/destiny.ts
Labels: platform, typescript, data-processing

feat: implement moon phase and lucky elements systems with motivational quotes and card collection management
  platform/data/destiny.ts
Labels: platform, typescript, data-processing

feat: add new icons and types for destiny card features
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: add state management for moon phase, lucky elements, daily quote, and card collection
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: load moon phase, card collection, lucky elements, and daily quote on mount
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: add card collection management on streak update
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: add moon phase display and card collection button to CrownFortunePage
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: add lucky elements and daily quote display to CrownFortunePage
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: add card collection modal with progress display to CrownFortunePage
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: add styles for moon phase, collection badge, lucky elements, daily quote, and collection modal
  platform/styles/pages/crown-fortune.module.css
Labels: platform, frontend, nextjs, styles

fix: add null check for DESTINY_CARDS in CrownFortunePage component
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: add share options, streak days, moon phase energy, lucky numbers, collection details, and daily quote to CrownFortune localization
  platform/locales/tr.json
Labels: platform, configuration

feat: add disclaimer, share options, streak days, moon phase energy, lucky elements, collection details, and daily quote to CrownFortune localization
  platform/locales/en.json
Labels: platform, configuration

fix: update translation for streak milestone message in CrownFortunePage
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

fix: update button titles and aria-labels for localization in CrownFortunePage
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

fix: update lucky numbers text for localization in CrownFortunePage
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

fix: update card collection title and close button aria-label for localization in CrownFortunePage
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

fix: update not seen message for localization in CrownFortunePage
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

fix: update share title and collection complete message for localization in CrownFortunePage
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

fix: add translation key for share title in CrownFortunePage
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

fix: update purpose of apple-touch-icon in manifest.json for broader compatibility
  platform/public/manifest.json
Labels: platform, configuration

Refactor code structure for improved readability and maintainability
  platform/public/tarot/the-moon.png
Labels: platform

fix: remove unnecessary assets from static cache in service worker
  platform/public/sw.js
Labels: platform, javascript

fix: add fallback values for destiny details retrieval to prevent errors
  platform/data/destiny.ts
Labels: platform, typescript, data-processing

fix: add null handling for card details retrieval to prevent runtime errors
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

fix: add optional chaining and fallback for card symbol to prevent undefined errors
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

fix: add optional chaining and fallback values for card details to prevent undefined errors
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

fix: add fallback handling for destiny card details and improve card rendering logic
  platform/data/destiny.ts
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs, data-processing

fix: add optional chaining for direction details to prevent undefined errors
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

fix: add optional chaining and fallback values for lucky elements to prevent undefined errors
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

fix: add optional chaining and fallback for daily quote details to prevent undefined errors
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

Refactor code structure for improved readability and maintainability --name change
  platform/public/tarot-original/the-moon.png
Labels: platform
