Repository Rtur2003/CrownCode, changes with the labels that .github/labeler.yml gives for each.
All labels: platform, ai-music-detection, data-manipulation, ml-toolkit, frontend, backend, database, javascript, typescript, python, react, nextjs, nodejs, documentation, configuration, styles, tests, github-actions, github-config, deployment, scripts, dependencies, security, authentication, api, ui-ux, performance, accessibility, mobile, machine-learning, tensorflow, audio-processing, data-processing, file-upload, visualization

.github/labeler.yml:

# DevForge Suite - Auto Labeler Configuration

# ===========================================
# PROJECT LABELS
# ===========================================

platform:
  - platform/**
  - platform/**/*

ai-music-detection:
  - projects/ai-music-detection/**
  - projects/ai-music-detection/**/*

data-manipulation:
  - projects/data-manipulation/**
  - projects/data-manipulation/**/*

ml-toolkit:
  - projects/ml-toolkit/**
  - projects/ml-toolkit/**/*

# ===========================================
# COMPONENT LABELS
# ===========================================

frontend:
  - "**/frontend/**"
  - "**/client/**"
  - "**/ui/**"
  - "**/components/**"
  - "**/pages/**"
  - "**/styles/**"

backend:
  - "**/backend/**"
  - "**/server/**"
  - "**/api/**"
  - "**/services/**"
  - "**/controllers/**"
  - "**/routes/**"

database:
  - "**/database/**"
  - "**/db/**"
  - "**/migrations/**"
  - "**/models/**"
  - "**/schema/**"

# ===========================================
# TECHNOLOGY LABELS
# ===========================================

javascript:
  - "**/*.js"
  - "**/*.jsx"
  - "**/*.mjs"

typescript:
  - "**/*.ts"
  - "**/*.tsx"
  - "**/tsconfig.json"
  - "**/tsconfig.*.json"

python:
  - "**/*.py"
  - "**/requirements.txt"
  - "**/Pipfile"
  - "**/pyproject.toml"
  - "**/setup.py"

react:
  - "**/components/**"
  - "**/hooks/**"
  - "**/context/**"
  - "**/*.jsx"
  - "**/*.tsx"

nextjs:
  - "**/pages/**"
  - "**/app/**"
  - "**/next.config.js"
  - "**/next.config.ts"

nodejs:
  - "**/package.json"
  - "**/package-lock.json"
  - "**/yarn.lock"
  - "**/pnpm-lock.yaml"

# ===========================================
# FILE TYPE LABELS
# ===========================================

documentation:
  - "**/*.md"
  - "**/*.mdx"
  - "**/docs/**"
  - "**/README*"
  - "**/CHANGELOG*"
  - "**/CONTRIBUTING*"
  - "**/LICENSE*"

configuration:
  - "**/*.json"
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.toml"
  - "**/*.ini"
  - "**/.env*"
  - "**/config/**"
  - "**/*config*"

styles:
  - "**/*.css"
  - "**/*.scss"
  - "**/*.sass"
  - "**/*.less"
  - "**/styles/**"
  - "**/tailwind.config.*"

tests:
  - "**/*.test.*"
  - "**/*.spec.*"
  - "**/tests/**"
  - "**/test/**"
  - "**/__tests__/**"
  - "**/cypress/**"
  - "**/playwright/**"
  - "**/jest.config.*"
  - "**/vitest.config.*"

# ===========================================
# GITHUB SPECIFIC LABELS
# ===========================================

github-actions:
  - ".github/workflows/**"
  - ".github/actions/**"

github-config:
  - ".github/**"
  - ".github/ISSUE_TEMPLATE/**"
  - ".github/PULL_REQUEST_TEMPLATE/**"
  - ".github/CODEOWNERS"
  - ".github/dependabot.yml"
  - ".github/labeler.yml"

# ===========================================
# DEPLOYMENT LABELS
# ===========================================

deployment:
  - "**/vercel.json"
  - "**/netlify.toml"
  - "**/Dockerfile"
  - "**/docker-compose.*"
  - "**/kubernetes/**"
  - "**/k8s/**"

scripts:
  - "**/scripts/**"
  - "**/*.sh"
  - "**/*.bat"
  - "**/*.ps1"

# ===========================================
# DEPENDENCY LABELS
# ===========================================

dependencies:
  - "**/package.json"
  - "**/package-lock.json"
  - "**/yarn.lock"
  - "**/pnpm-lock.yaml"
  - "**/requirements.txt"
  - "**/Pipfile.lock"
  - "**/Cargo.lock"

security:
  - "**/SECURITY.md"
  - "**/.nvmrc"
  - "**/security/**"

# ===========================================
# FEATURE AREA LABELS
# ===========================================

authentication:
  - "**/auth/**"
  - "**/authentication/**"
  - "**/login/**"
  - "**/signup/**"

api:
  - "**/api/**"
  - "**/routes/**"
  - "**/endpoints/**"

ui-ux:
  - "**/components/**"
  - "**/ui/**"
  - "**/design/**"
  - "**/assets/**"

performance:
  - "**/optimization/**"
  - "**/performance/**"
  - "**/lazy/**"
  - "**/cache/**"

accessibility:
  - "**/a11y/**"
  - "**/accessibility/**"

mobile:
  - "**/mobile/**"
  - "**/responsive/**"
  - "**/touch/**"

# ===========================================
# AI/ML SPECIFIC LABELS
# ===========================================

machine-learning:
  - "**/models/**"
  - "**/ml/**"
  - "**/ai/**"
  - "**/*.pkl"
  - "**/*.h5"
  - "**/*.onnx"

tensorflow:
  - "**/tensorflow/**"
  - "**/tf/**"
  - "**/*tensorflow*"

audio-processing:
  - "**/audio/**"
  - "**/sound/**"
  - "**/wav2vec2/**"
  - "**/spectral/**"

# ===========================================
# DATA PROCESSING LABELS
# ===========================================

data-processing:
  - "**/data/**"
  - "**/processing/**"
  - "**/transform/**"
  - "**/etl/**"

file-upload:
  - "**/upload/**"
  - "**/file/**"
  - "**/storage/**"

visualization:
  - "**/charts/**"
  - "**/graphs/**"
  - "**/visualization/**"
  - "**/dashboard/**"

feat: enhance PWA hook with improved type definitions and background sync support
  platform/hooks/usePWA.ts
  platform/hooks/usePerformanceMonitor.ts
Labels: platform, typescript, react

feat: add background elements to Crown Fortune page for enhanced visual appeal
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: enhance Crown Fortune page with new background elements for improved aesthetics
  platform/styles/pages/crown-fortune.module.css
Labels: platform, frontend, nextjs, styles

feat: update card back pattern with new background image for enhanced visual effect
  platform/styles/pages/crown-fortune.module.css
Labels: platform, frontend, nextjs, styles

feat: enhance card styling with improved background, padding, and text effects for better visibility
  platform/styles/pages/crown-fortune.module.css
Labels: platform, frontend, nextjs, styles

feat: enhance card front styling with gradient background and overlay image for improved visual depth
  platform/styles/pages/crown-fortune.module.css
Labels: platform, frontend, nextjs, styles

feat: enhance card design with improved gradients, transitions, and new background elements for better aesthetics
  platform/styles/pages/crown-fortune.module.css
Labels: platform, frontend, nextjs, styles

feat: add English text support to FortuneMessage interface for multilingual capability
  platform/data/destiny.ts
Labels: platform, typescript, data-processing

feat: enhance card design with gradient overlay, sheen effect, and improved content layout for better user experience
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: add English translations to FortuneMessages for multilingual support
  platform/data/destiny.ts
Labels: platform, typescript, data-processing

feat: add English message support in CrownFortunePage for multilingual display
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

fix: improve CORS origin loading logic for better configuration handling
  backend/app/main.py
Labels: backend, python, nextjs

feat: add Dockerfile for CrownCode backend setup with Hugging Face Spaces support
  backend/Dockerfile
Labels: backend, deployment

docs: update README.md with Hugging Face Spaces deployment instructions and local development setup
  backend/README.md
Labels: backend, documentation

refactor: clean up requirements.txt by removing unnecessary comments and dependencies
  backend/requirements.txt
Labels: backend, python, dependencies

feat: update Dockerfile to use Python 3.11 and adjust requirements.txt for version flexibility
  backend/Dockerfile
  backend/requirements.txt
Labels: backend, python, deployment, dependencies

fix: revert fastapi version to ensure compatibility with existing dependencies
  backend/requirements.txt
Labels: backend, python, dependencies

fix: revert uvicorn version to ensure compatibility with existing dependencies
  backend/requirements.txt
Labels: backend, python, dependencies

docs: add comprehensive guide for Claude AI integration in CrownCode project
  CLAUDE_SYSTEM_PROMPT.md
Labels: documentation

fix: update backend installation instructions to use pip and adjust server command
  docs/community/CONTRIBUTING.md
  docs/guides/INTENSIVE_3_MONTH_PLAN.md
Labels: documentation

feat: add clearDestinyData function for debugging and local storage management
  platform/data/destiny.ts
Labels: platform, typescript, data-processing

fix: improve destiny loading logic and local storage management for daily updates
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

fix: update @emnapi/runtime to version 1.8.1 and add new sharp dependencies
  package-lock.json
Labels: nodejs, configuration, dependencies

fix: add sharp dependency to package.json
  platform/package.json
Labels: platform, nodejs, configuration, dependencies

feat: add noCache prop to MainLayout for dynamic content cache control
  platform/components/Layout/MainLayout.tsx
Labels: platform, frontend, typescript, react, ui-ux

feat: add modal for card details and enhance card interaction with click hints
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

refactor: update security and cache headers for improved content delivery
  platform/public/_headers
Labels: platform

feat: add image compression script for tarot card visuals
  platform/scripts/compress-tarot.js
Labels: platform, javascript, scripts

feat: add card modal styles for enhanced user interaction and visuals
  platform/styles/pages/crown-fortune.module.css
Labels: platform, frontend, nextjs, styles

feat: update project title and description for AURIS platform, enhancing clarity and detail
  docs/academic/ACADEMIC_PROJECT_REPORT_EN.md
  docs/academic/THESIS_SUMMARY.md
Labels: documentation

feat: update project documentation with detailed web and mobile application architecture
  docs/academic/ACADEMIC_PROJECT_REPORT_EN.md
Labels: documentation

feat: update improvement suggestion to reflect completion of mobile application development
  docs/academic/ACADEMIC_PROJECT_REPORT_EN.md
Labels: documentation

feat: update mobile optimization status to reflect resolution with native Android app availability
  docs/academic/ACADEMIC_PROJECT_REPORT_EN.md
Labels: documentation

feat: update mobile app status to indicate completion of Android application and plan for iOS
  docs/academic/ACADEMIC_PROJECT_REPORT_EN.md
Labels: documentation

feat: update platform expansions to reflect completion of Android app and plan for iOS development
  docs/academic/ACADEMIC_PROJECT_REPORT_EN.md
Labels: documentation

feat: update project report to include native Android application achievement with Jetpack Compose
  docs/academic/ACADEMIC_PROJECT_REPORT_EN.md
Labels: documentation

feat: update project report to specify AURIS as a web and Android application
  docs/academic/ACADEMIC_PROJECT_REPORT_EN.md
Labels: documentation

feat: update project report to reflect AURIS as a multi-platform AI music detection system
  docs/academic/AKADEMIK_PROJE_RAPORU_TR.md
Labels: documentation

feat: add CSS module for BackgroundFloatingCards component
  platform/components/CrownFortune/BackgroundFloatingCards.module.css
Labels: platform, frontend, react, styles, ui-ux

feat: add BackgroundFloatingCards component with animated floating cards
  platform/components/CrownFortune/BackgroundFloatingCards.tsx
Labels: platform, frontend, typescript, react, ui-ux
