Repository Rtur2003/CrownCode, changes with the labels that .github/labeler.yml gives for each.
All labels: platform, ai-music-detection, data-manipulation, ml-toolkit, frontend, backend, database, javascript, typescript, python, react, nextjs, nodejs, documentation, configuration, styles, tests, github-actions, github-config, deployment, scripts, dependencies, security, authentication, api, ui-ux, performance, accessibility, mobile, machine-learning, tensorflow, audio-processing, data-processing, file-upload, visualization

.github/labeler.yml:

# DevForge Suite - Auto Labeler Configuration

# ===========================================
# PROJECT LABELS
# ===========================================

platform:
  - platform/**
  - platform/**/*

ai-music-detection:
  - projects/ai-music-detection/**
  - projects/ai-music-detection/**/*

data-manipulation:
  - projects/data-manipulation/**
  - projects/data-manipulation/**/*

ml-toolkit:
  - projects/ml-toolkit/**
  - projects/ml-toolkit/**/*

# ===========================================
# COMPONENT LABELS
# ===========================================

frontend:
  - "**/frontend/**"
  - "**/client/**"
  - "**/ui/**"
  - "**/components/**"
  - "**/pages/**"
  - "**/styles/**"

backend:
  - "**/backend/**"
  - "**/server/**"
  - "**/api/**"
  - "**/services/**"
  - "**/controllers/**"
  - "**/routes/**"

database:
  - "**/database/**"
  - "**/db/**"
  - "**/migrations/**"
  - "**/models/**"
  - "**/schema/**"

# ===========================================
# TECHNOLOGY LABELS
# ===========================================

javascript:
  - "**/*.js"
  - "**/*.jsx"
  - "**/*.mjs"

typescript:
  - "**/*.ts"
  - "**/*.tsx"
  - "**/tsconfig.json"
  - "**/tsconfig.*.json"

python:
  - "**/*.py"
  - "**/requirements.txt"
  - "**/Pipfile"
  - "**/pyproject.toml"
  - "**/setup.py"

react:
  - "**/components/**"
  - "**/hooks/**"
  - "**/context/**"
  - "**/*.jsx"
  - "**/*.tsx"

nextjs:
  - "**/pages/**"
  - "**/app/**"
  - "**/next.config.js"
  - "**/next.config.ts"

nodejs:
  - "**/package.json"
  - "**/package-lock.json"
  - "**/yarn.lock"
  - "**/pnpm-lock.yaml"

# ===========================================
# FILE TYPE LABELS
# ===========================================

documentation:
  - "**/*.md"
  - "**/*.mdx"
  - "**/docs/**"
  - "**/README*"
  - "**/CHANGELOG*"
  - "**/CONTRIBUTING*"
  - "**/LICENSE*"

configuration:
  - "**/*.json"
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.toml"
  - "**/*.ini"
  - "**/.env*"
  - "**/config/**"
  - "**/*config*"

styles:
  - "**/*.css"
  - "**/*.scss"
  - "**/*.sass"
  - "**/*.less"
  - "**/styles/**"
  - "**/tailwind.config.*"

tests:
  - "**/*.test.*"
  - "**/*.spec.*"
  - "**/tests/**"
  - "**/test/**"
  - "**/__tests__/**"
  - "**/cypress/**"
  - "**/playwright/**"
  - "**/jest.config.*"
  - "**/vitest.config.*"

# ===========================================
# GITHUB SPECIFIC LABELS
# ===========================================

github-actions:
  - ".github/workflows/**"
  - ".github/actions/**"

github-config:
  - ".github/**"
  - ".github/ISSUE_TEMPLATE/**"
  - ".github/PULL_REQUEST_TEMPLATE/**"
  - ".github/CODEOWNERS"
  - ".github/dependabot.yml"
  - ".github/labeler.yml"

# ===========================================
# DEPLOYMENT LABELS
# ===========================================

deployment:
  - "**/vercel.json"
  - "**/netlify.toml"
  - "**/Dockerfile"
  - "**/docker-compose.*"
  - "**/kubernetes/**"
  - "**/k8s/**"

scripts:
  - "**/scripts/**"
  - "**/*.sh"
  - "**/*.bat"
  - "**/*.ps1"

# ===========================================
# DEPENDENCY LABELS
# ===========================================

dependencies:
  - "**/package.json"
  - "**/package-lock.json"
  - "**/yarn.lock"
  - "**/pnpm-lock.yaml"
  - "**/requirements.txt"
  - "**/Pipfile.lock"
  - "**/Cargo.lock"

security:
  - "**/SECURITY.md"
  - "**/.nvmrc"
  - "**/security/**"

# ===========================================
# FEATURE AREA LABELS
# ===========================================

authentication:
  - "**/auth/**"
  - "**/authentication/**"
  - "**/login/**"
  - "**/signup/**"

api:
  - "**/api/**"
  - "**/routes/**"
  - "**/endpoints/**"

ui-ux:
  - "**/components/**"
  - "**/ui/**"
  - "**/design/**"
  - "**/assets/**"

performance:
  - "**/optimization/**"
  - "**/performance/**"
  - "**/lazy/**"
  - "**/cache/**"

accessibility:
  - "**/a11y/**"
  - "**/accessibility/**"

mobile:
  - "**/mobile/**"
  - "**/responsive/**"
  - "**/touch/**"

# ===========================================
# AI/ML SPECIFIC LABELS
# ===========================================

machine-learning:
  - "**/models/**"
  - "**/ml/**"
  - "**/ai/**"
  - "**/*.pkl"
  - "**/*.h5"
  - "**/*.onnx"

tensorflow:
  - "**/tensorflow/**"
  - "**/tf/**"
  - "**/*tensorflow*"

audio-processing:
  - "**/audio/**"
  - "**/sound/**"
  - "**/wav2vec2/**"
  - "**/spectral/**"

# ===========================================
# DATA PROCESSING LABELS
# ===========================================

data-processing:
  - "**/data/**"
  - "**/processing/**"
  - "**/transform/**"
  - "**/etl/**"

file-upload:
  - "**/upload/**"
  - "**/file/**"
  - "**/storage/**"

visualization:
  - "**/charts/**"
  - "**/graphs/**"
  - "**/visualization/**"
  - "**/dashboard/**"

a
  platform/package.json
Labels: platform, nodejs, configuration, dependencies

mm
  platform/.eslintrc.json
  platform/.prettierrc.json
Labels: platform, configuration

k
  platform/.prettierignore
  platform/components/MLToolkit/DownloadButton.tsx
Labels: platform, frontend, typescript, react, ui-ux

s
  platform/components/Navigation/ProjectDropdown.tsx
Labels: platform, frontend, typescript, react, ui-ux

mm
  platform/components/Search/SearchModal.tsx
Labels: platform, frontend, typescript, react, ui-ux

ss
  platform/components/UI/Toast/Toast.tsx
Labels: platform, frontend, typescript, react, ui-ux

kk
  platform/components/Navigation/ProjectDropdown.tsx
Labels: platform, frontend, typescript, react, ui-ux

ss
  platform/components/Search/SearchModal.tsx
Labels: platform, frontend, typescript, react, ui-ux

hmm
  platform/next.config.js
Labels: platform, javascript, nextjs, configuration

mm
  platform/pages/_error.tsx
Labels: platform, frontend, typescript, react, nextjs

.
  platform/context/LanguageContext.tsx
  platform/pages/_app.tsx
  platform/pages/ai-music-detection/index.tsx
  platform/styles/pages/ai-detection.module.css
Labels: platform, frontend, typescript, react, nextjs, styles

görsel düzenlemesi
  platform/public/favicon.svg
Labels: platform

.
  platform/styles/base/animations.css
Labels: platform, frontend, styles

a
  platform/public/favicon.ico
Labels: platform

.
  platform/styles/utilities/helpers.css
Labels: platform, frontend, styles

dökümantasyon güncellemeleri
  .gitignore
  README.md
  README_PLATFORM.md
  backend/README.md
  backend/requirements.txt
  docs/CHANGELOG.md
  docs/COMPLETE_AUTOMATION_STRATEGY.md
  docs/academic/ACADEMIC_PROJECT_REPORT_EN.md
  docs/academic/AKADEMIK_PROJE_RAPORU_TR.md
  docs/academic/THESIS_SUMMARY.md
  docs/community/CODE_OF_CONDUCT.md
  docs/community/CONTRIBUTING.md
  docs/community/SECURITY.md
  docs/guides/CODE_EXAMPLES.md
  docs/guides/INTENSIVE_3_MONTH_PLAN.md
  docs/guides/PROJE_KURALLARI.md
  docs/technical/AI_MODEL_STRATEGY.md
  docs/technical/DEPLOYMENT_CONFIG.md
  docs/technical/DEVFORGE_PLATFORM_STRUCTURE.md
  docs/technical/MOBILE_RESPONSIVE_DESIGN.md
  docs/technical/MODULAR_ARCHITECTURE.md
  docs/technical/PLATFORM_GITHUB_CONFIG.md
  docs/technical/PROJECT_ROUTING_SYSTEM.md
  docs/technical/TECHNICAL_SPECIFICATIONS.md
  docs/technical/TECHNOLOGY_STACK_2025.md
  platform/locales/en.json
  platform/locales/tr.json
  platform/package.json
  platform/pages/index.tsx
  platform/styles/components/hero.css
Labels: platform, frontend, backend, typescript, python, react, nextjs, nodejs, documentation, configuration, styles, dependencies, security, ui-ux

m
  platform/components/Home/HeroSection.tsx
  platform/styles/base/variables.css
  platform/styles/components/hero.css
  platform/styles/components/ml-toolkit.css
  platform/styles/components/projects.css
Labels: platform, frontend, typescript, react, styles, ui-ux

dil düzenlemeleri
  platform/components/Home/HeroSection.tsx
  platform/locales/en.json
  platform/locales/tr.json
  platform/pages/ai-music-detection/index.tsx
  platform/pages/data-manipulation/index.tsx
  platform/pages/index.tsx
  platform/styles/base/variables.css
  platform/styles/globals.css
  platform/styles/pages/ai-detection.css
Labels: platform, frontend, typescript, react, nextjs, configuration, styles, ui-ux

.
  platform/locales/en.json
  platform/locales/tr.json
  platform/pages/ai-music-detection/index.tsx
Labels: platform, frontend, typescript, react, nextjs, configuration

a
  platform/public/robots.txt
Labels: platform

dil
  platform/locales/en.json
  platform/locales/tr.json
Labels: platform, configuration

.
  platform/pages/_app.tsx
Labels: platform, frontend, typescript, react, nextjs

.
  platform/components/ErrorBoundary/ErrorBoundary.tsx
  platform/components/ErrorBoundary/ErrorFallback.tsx
  platform/components/UI/CopyButton.tsx
  platform/hooks/useCopyToClipboard.ts
  platform/pages/_app.tsx
  platform/pages/_error.tsx
  platform/styles/components/copy-button.css
  platform/styles/components/error.css
  platform/styles/globals.css
Labels: platform, frontend, typescript, react, nextjs, styles, ui-ux

a
  README_PLATFORM.md
Labels: documentation

.
  platform/.env.example
  platform/pages/api/health.ts
Labels: platform, frontend, backend, typescript, nextjs, configuration, api

XD
  platform/components/Home/ProjectsSection.tsx
Labels: platform, frontend, typescript, react, ui-ux

Touch targets: 40-44px (acceptable) All modals properly styled for mobile Z-index layering correct (LoadingScreen: 9999, Modals: 1040-1080, Header: 1030) Responsive typography and spacing
  platform/styles/components/hero.css
  platform/styles/pages/ai-detection.module.css
Labels: platform, frontend, react, nextjs, styles, ui-ux

.
  platform/styles/components/error.css
Labels: platform, frontend, react, styles, ui-ux

.
  platform/styles/components/header.css
Labels: platform, frontend, react, styles, ui-ux

m
  platform/components/UI/Toast/Toast.tsx
  platform/components/UI/Toast/ToastContainer.tsx
  platform/context/ToastContext.tsx
  platform/locales/en.json
  platform/locales/tr.json
  platform/pages/_app.tsx
  platform/styles/components/toast.css
  platform/styles/globals.css
Labels: platform, frontend, typescript, react, nextjs, configuration, styles, ui-ux

.
  .gitignore
Labels: none

:
  platform/styles/components/loading-screen.css
Labels: platform, frontend, react, styles, ui-ux

.
  platform/pages/api/version.ts
Labels: platform, frontend, backend, typescript, nextjs, api

:)
  platform/DOSYA_YAPISI_RAPORU.md
  platform/components/Search/SearchModal.tsx
  platform/components/Search/SearchResults.tsx
  platform/hooks/useSearch.ts
  platform/locales/en.json
  platform/locales/tr.json
  platform/pages/_app.tsx
  platform/styles/components/error.css
  platform/styles/components/search-modal.css
  platform/styles/globals.css
Labels: platform, frontend, typescript, react, nextjs, documentation, configuration, styles, ui-ux

.
  platform/public/manifest.json
Labels: platform, configuration

,,
  platform/pages/_app.tsx
Labels: platform, frontend, typescript, react, nextjs

.
  platform/tsconfig.json
Labels: platform, typescript, configuration

Harika
  platform/components/Home/ProjectsSection.tsx
Labels: platform, frontend, typescript, react, ui-ux

:D
  platform/components/Loading/LoadingScreen.tsx
  platform/styles/globals.css
Labels: platform, frontend, typescript, react, styles, ui-ux

.
  platform/styles/components/ml-toolkit.css
Labels: platform, frontend, react, styles, ui-ux
