Repository Rtur2003/CrownCode, changes with the labels that .github/labeler.yml gives for each.
All labels: platform, ai-music-detection, data-manipulation, ml-toolkit, frontend, backend, database, javascript, typescript, python, react, nextjs, nodejs, documentation, configuration, styles, tests, github-actions, github-config, deployment, scripts, dependencies, security, authentication, api, ui-ux, performance, accessibility, mobile, machine-learning, tensorflow, audio-processing, data-processing, file-upload, visualization

feat: update Turkish localization with AURIS branding and add Crown Fortune details
  platform/locales/tr.json
Labels: platform, configuration

fix: correct Turkish localization typos and improve translations
  platform/locales/tr.json
Labels: platform, configuration

refactor: simplify logo icon styles and remove unnecessary hover effects
  platform/styles/components/header.css
Labels: platform, frontend, react, styles, ui-ux

style: enhance wheel segment visuals and improve pointer animations
  platform/pages/crown-fortune/index.tsx
  platform/styles/pages/crown-fortune.module.css
Labels: platform, frontend, typescript, react, nextjs, styles

feat: add tarot card data and daily fortune functionality
  platform/data/tarot.ts
Labels: platform, typescript, data-processing

feat: enhance Crown Fortune page with countdown timer and tarot card display
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

style: update styles for Crown Fortune page with enhanced visuals and loading animations
  platform/styles/pages/crown-fortune.module.css
Labels: platform, frontend, nextjs, styles

feat: add new tarot card image for The Moon
  platform/public/tarot/ the-moon.png
Labels: platform

feat: add new tarot card image for Death
  platform/public/tarot/death.png
Labels: platform

feat: add new tarot card image for Judgement
  platform/public/tarot/judgement.png
Labels: platform

feat: add new tarot card images for Justice and Strength
  platform/public/tarot/justice.png
  platform/public/tarot/strength.png
Labels: platform

feat: enhance wheel segment styles and improve icon positioning
  platform/styles/pages/crown-fortune.module.css
Labels: platform, frontend, nextjs, styles

feat: implement Destiny card system with fortune categories and messages
  platform/data/destiny.ts
Labels: platform, typescript, data-processing

feat: refactor fortune system to destiny with updated card and element handling
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: update tarot card styles to destiny card with new layout and animations
  platform/styles/pages/crown-fortune.module.css
Labels: platform, frontend, nextjs, styles

fix: update author URL in document and add data path to tsconfig
  platform/pages/_document.tsx
  platform/tsconfig.json
Labels: platform, frontend, typescript, react, nextjs, configuration

Refactor Crown Fortune styles for improved theme consistency and responsiveness
  platform/pages/crown-fortune/index.tsx
  platform/styles/pages/crown-fortune.module.css
Labels: platform, frontend, typescript, react, nextjs, styles

fix: add CLAUDE_SYSTEM_PROMPT.md to .gitignore
  .gitignore
Labels: none

style: update crown-fortune styles for improved layout, responsiveness, and theme consistency
  platform/styles/pages/crown-fortune.module.css
Labels: platform, frontend, nextjs, styles

feat: add audio processing service with augmentation options and endpoint
  backend/app/routes/data_processing.py
  backend/app/schemas.py
  backend/app/services/audio_processor.py
Labels: backend, python, nextjs, api

feat: enhance audio dataset tools with new processing features and improved UI
  .gitignore
  backend/app/main.py
  platform/pages/data-manipulation/index.tsx
Labels: platform, frontend, backend, typescript, python, react, nextjs

feat: add data manipulation styles for improved layout and responsiveness
  platform/pages/data-manipulation/index.tsx
  platform/styles/pages/data-manipulation.css
Labels: platform, frontend, typescript, react, nextjs, styles

feat: update crown fortune localization for enhanced user experience and clarity
  platform/locales/en.json
  platform/locales/tr.json
Labels: platform, configuration

feat: add translation function to language context for enhanced localization support
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: enhance loading state with localized text and dynamic metadata
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: update localization for category labels and meta information in CrownFortunePage
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: update header text to use localized strings for improved accessibility
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: update spin button text to use localized strings for improved accessibility
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: update date formatting to use localized language settings
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: update info section to use localized strings for improved accessibility
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

refactor: remove unused imports for cleaner code
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: add interface strings for audio processing tool in English and Turkish
  platform/locales/en.json
  platform/locales/tr.json
  platform/pages/data-manipulation/index.tsx
Labels: platform, frontend, typescript, react, nextjs, configuration

feat: add image paths to DestinyCard and update styles for card display
  platform/data/destiny.ts
  platform/pages/crown-fortune/index.tsx
  platform/public/manifest.json
  platform/public/sitemap.xml
  platform/styles/pages/crown-fortune.module.css
Labels: platform, frontend, typescript, react, nextjs, configuration, styles, data-processing

feat: update interface strings in English and Turkish for audio processing tool
  platform/locales/en.json
  platform/locales/tr.json
Labels: platform, configuration

feat: add data manipulation page styles for improved layout and responsiveness
  platform/styles/pages/data-manipulation.module.css
Labels: platform, frontend, nextjs, styles

feat: update styles to use CSS modules for improved encapsulation and maintainability
  platform/pages/data-manipulation/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: enhance error handling messages and add new error titles for better user feedback
  platform/locales/en.json
Labels: platform, configuration

feat: enhance error handling with new titles and messages for improved user feedback
  platform/locales/tr.json
Labels: platform, configuration

feat: localize error page titles and messages for improved user experience
  platform/pages/_error.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: localize Spotify track and pipeline tags for improved internationalization
  platform/pages/ai-music-detection/index.tsx
Labels: platform, frontend, typescript, react, nextjs

.github/labeler.yml:

# DevForge Suite - Auto Labeler Configuration

# ===========================================
# PROJECT LABELS
# ===========================================

platform:
  - platform/**
  - platform/**/*

ai-music-detection:
  - projects/ai-music-detection/**
  - projects/ai-music-detection/**/*

data-manipulation:
  - projects/data-manipulation/**
  - projects/data-manipulation/**/*

ml-toolkit:
  - projects/ml-toolkit/**
  - projects/ml-toolkit/**/*

# ===========================================
# COMPONENT LABELS
# ===========================================

frontend:
  - "**/frontend/**"
  - "**/client/**"
  - "**/ui/**"
  - "**/components/**"
  - "**/pages/**"
  - "**/styles/**"

backend:
  - "**/backend/**"
  - "**/server/**"
  - "**/api/**"
  - "**/services/**"
  - "**/controllers/**"
  - "**/routes/**"

database:
  - "**/database/**"
  - "**/db/**"
  - "**/migrations/**"
  - "**/models/**"
  - "**/schema/**"

# ===========================================
# TECHNOLOGY LABELS
# ===========================================

javascript:
  - "**/*.js"
  - "**/*.jsx"
  - "**/*.mjs"

typescript:
  - "**/*.ts"
  - "**/*.tsx"
  - "**/tsconfig.json"
  - "**/tsconfig.*.json"

python:
  - "**/*.py"
  - "**/requirements.txt"
  - "**/Pipfile"
  - "**/pyproject.toml"
  - "**/setup.py"

react:
  - "**/components/**"
  - "**/hooks/**"
  - "**/context/**"
  - "**/*.jsx"
  - "**/*.tsx"

nextjs:
  - "**/pages/**"
  - "**/app/**"
  - "**/next.config.js"
  - "**/next.config.ts"

nodejs:
  - "**/package.json"
  - "**/package-lock.json"
  - "**/yarn.lock"
  - "**/pnpm-lock.yaml"

# ===========================================
# FILE TYPE LABELS
# ===========================================

documentation:
  - "**/*.md"
  - "**/*.mdx"
  - "**/docs/**"
  - "**/README*"
  - "**/CHANGELOG*"
  - "**/CONTRIBUTING*"
  - "**/LICENSE*"

configuration:
  - "**/*.json"
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.toml"
  - "**/*.ini"
  - "**/.env*"
  - "**/config/**"
  - "**/*config*"

styles:
  - "**/*.css"
  - "**/*.scss"
  - "**/*.sass"
  - "**/*.less"
  - "**/styles/**"
  - "**/tailwind.config.*"

tests:
  - "**/*.test.*"
  - "**/*.spec.*"
  - "**/tests/**"
  - "**/test/**"
  - "**/__tests__/**"
  - "**/cypress/**"
  - "**/playwright/**"
  - "**/jest.config.*"
  - "**/vitest.config.*"

# ===========================================
# GITHUB SPECIFIC LABELS
# ===========================================

github-actions:
  - ".github/workflows/**"
  - ".github/actions/**"

github-config:
  - ".github/**"
  - ".github/ISSUE_TEMPLATE/**"
  - ".github/PULL_REQUEST_TEMPLATE/**"
  - ".github/CODEOWNERS"
  - ".github/dependabot.yml"
  - ".github/labeler.yml"

# ===========================================
# DEPLOYMENT LABELS
# ===========================================

deployment:
  - "**/vercel.json"
  - "**/netlify.toml"
  - "**/Dockerfile"
  - "**/docker-compose.*"
  - "**/kubernetes/**"
  - "**/k8s/**"

scripts:
  - "**/scripts/**"
  - "**/*.sh"
  - "**/*.bat"
  - "**/*.ps1"

# ===========================================
# DEPENDENCY LABELS
# ===========================================

dependencies:
  - "**/package.json"
  - "**/package-lock.json"
  - "**/yarn.lock"
  - "**/pnpm-lock.yaml"
  - "**/requirements.txt"
  - "**/Pipfile.lock"
  - "**/Cargo.lock"

security:
  - "**/SECURITY.md"
  - "**/.nvmrc"
  - "**/security/**"

# ===========================================
# FEATURE AREA LABELS
# ===========================================

authentication:
  - "**/auth/**"
  - "**/authentication/**"
  - "**/login/**"
  - "**/signup/**"

api:
  - "**/api/**"
  - "**/routes/**"
  - "**/endpoints/**"

ui-ux:
  - "**/components/**"
  - "**/ui/**"
  - "**/design/**"
  - "**/assets/**"

performance:
  - "**/optimization/**"
  - "**/performance/**"
  - "**/lazy/**"
  - "**/cache/**"

accessibility:
  - "**/a11y/**"
  - "**/accessibility/**"

mobile:
  - "**/mobile/**"
  - "**/responsive/**"
  - "**/touch/**"

# ===========================================
# AI/ML SPECIFIC LABELS
# ===========================================

machine-learning:
  - "**/models/**"
  - "**/ml/**"
  - "**/ai/**"
  - "**/*.pkl"
  - "**/*.h5"
  - "**/*.onnx"

tensorflow:
  - "**/tensorflow/**"
  - "**/tf/**"
  - "**/*tensorflow*"

audio-processing:
  - "**/audio/**"
  - "**/sound/**"
  - "**/wav2vec2/**"
  - "**/spectral/**"

# ===========================================
# DATA PROCESSING LABELS
# ===========================================

data-processing:
  - "**/data/**"
  - "**/processing/**"
  - "**/transform/**"
  - "**/etl/**"

file-upload:
  - "**/upload/**"
  - "**/file/**"
  - "**/storage/**"

visualization:
  - "**/charts/**"
  - "**/graphs/**"
  - "**/visualization/**"
  - "**/dashboard/**"
