Repository Rtur2003/CrownCode, changes with the labels that .github/labeler.yml gives for each.
All labels: platform, ai-music-detection, data-manipulation, ml-toolkit, frontend, backend, database, javascript, typescript, python, react, nextjs, nodejs, documentation, configuration, styles, tests, github-actions, github-config, deployment, scripts, dependencies, security, authentication, api, ui-ux, performance, accessibility, mobile, machine-learning, tensorflow, audio-processing, data-processing, file-upload, visualization

feat: enhance CrownDreamsPage with dynamic GoldenParticles, improved layout, and new stats features
  platform/pages/crown-dreams/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: update styles for CrownDreamsPage with improved layout, enhanced responsiveness, and refined visual elements
  platform/styles/pages/crown-dreams.module.css
Labels: platform, frontend, nextjs, styles

feat: add Crown Dreams section with description, status, and features for dream journaling and analysis
  platform/locales/en.json
  platform/locales/tr.json
Labels: platform, configuration

feat: add Crown Dreams project with description, status, and features to ProjectsSection
  platform/components/Home/ProjectsSection.tsx
  platform/locales/en.json
  platform/locales/tr.json
Labels: platform, frontend, typescript, react, configuration, ui-ux

feat: create index file for Crown Dreams components with exports for UI and 3D background elements
  platform/components/CrownDreams/index.ts
Labels: platform, frontend, typescript, react, ui-ux

fix: update StatCard component to use ReactNode for icon prop and adjust rendering logic
  platform/components/CrownDreams/GlassCard.tsx
Labels: platform, frontend, typescript, react, ui-ux

fix: add style prop handling to CyberButton and IconButton components
  platform/components/CrownDreams/CyberButton.tsx
Labels: platform, frontend, typescript, react, ui-ux

feat: enhance card component with reversed state styles and logic for dark themes
  platform/pages/crown-fortune/index.tsx
  platform/styles/pages/crown-fortune.module.css
Labels: platform, frontend, typescript, react, nextjs, styles

fix: update CyberButton component to handle style prop with MotionStyle type
  platform/components/CrownDreams/CyberButton.tsx
Labels: platform, frontend, typescript, react, ui-ux

chore: update dependencies for react-three and three.js
  package-lock.json
  platform/package.json
Labels: platform, nodejs, configuration, dependencies

fix: refactor CyberButton and IconButton components to improve prop handling and remove unused style prop
  platform/components/CrownDreams/CyberButton.tsx
Labels: platform, frontend, typescript, react, ui-ux

chore: update .gitignore to include additional large file types and project-specific ignores
  .gitignore
Labels: none

chore: add .gitignore file for CrownCode Platform to exclude unnecessary files and directories
  platform/.gitignore
Labels: platform

chore: remove pyproject.toml configuration file for backend linting and formatting
  backend/pyproject.toml
Labels: backend, python, configuration

chore: remove backend application files and services for CrownCode
  backend/app/__init__.py
  backend/app/main.py
  backend/app/routes/__init__.py
  backend/app/routes/data_processing.py
  backend/app/routes/health.py
  backend/app/routes/youtube.py
  backend/app/schemas.py
  backend/app/services/__init__.py
  backend/app/services/audio_processor.py
  backend/app/services/external_clients.py
  backend/app/services/logging_config.py
  backend/app/services/preview_model.py
  backend/app/services/url_parser.py
  backend/app/services/validation.py
  backend/app/services/youtube_analysis.py
  backend/app/services/youtube_downloader.py
Labels: backend, python, nextjs, configuration, api

chore: remove backend Dockerfile and README.md for CrownCode
  backend/Dockerfile
  backend/README.md
Labels: backend, documentation, deployment

chore: remove requirements.txt file for backend dependencies
  backend/requirements.txt
Labels: backend, python, dependencies

chore: update API URL for local development in .env.example
  platform/.env.example
Labels: platform, configuration

chore: add CommentEditor styles for improved UI layout and interactions
  platform/components/CrownCommend/CommentEditor.module.css
Labels: platform, frontend, react, styles, ui-ux

feat: implement CommentEditor component with copy and post functionality
  platform/components/CrownCommend/CommentEditor.tsx
Labels: platform, frontend, typescript, react, ui-ux

feat: add index file to export VideoPreview and CommentEditor components
  platform/components/CrownCommend/index.ts
Labels: platform, frontend, typescript, react, ui-ux

feat: add VideoPreview component styles for enhanced layout and responsiveness
  platform/components/CrownCommend/VideoPreview.module.css
Labels: platform, frontend, react, styles, ui-ux

feat: implement VideoPreview component to display YouTube video details with responsive design
  platform/components/CrownCommend/VideoPreview.tsx
Labels: platform, frontend, typescript, react, ui-ux

feat: implement useCommend hook for AI-powered YouTube comment generation
  platform/hooks/useCommend.ts
Labels: platform, typescript, react

feat: create CrownCommendPage component for AI-driven YouTube comment generation
  platform/pages/crown-commend/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: add 'commend' navigation item to the header
  platform/components/Layout/Header.tsx
Labels: platform, frontend, typescript, react, ui-ux

feat: add styles for Crown Commend Page - AI YouTube Comment Generator
  platform/styles/pages/crown-commend.module.css
Labels: platform, frontend, nextjs, styles

feat: add 'commend' entry to navigation for AI Comment feature
  platform/locales/en.json
Labels: platform, configuration

feat: add 'commend' entry to navigation in Turkish localization
  platform/locales/tr.json
Labels: platform, configuration

chore: mark subproject commit as dirty
  platform/.env.example
Labels: platform, configuration

chore: add separate repository entries to .gitignore
  .gitignore
Labels: none

chore: add Crown Commend project with AI-powered YouTube comment generator
  platform/components/Home/ProjectsSection.tsx
  platform/locales/en.json
  platform/locales/tr.json
Labels: platform, frontend, typescript, react, configuration, ui-ux

style: update padding and margins for responsive design in crown-commend and crown-fortune pages
  platform/styles/pages/crown-commend.module.css
  platform/styles/pages/crown-fortune.module.css
Labels: platform, frontend, nextjs, styles

style: enhance styles and responsiveness for Comment Editor component
  platform/components/CrownCommend/CommentEditor.module.css
Labels: platform, frontend, react, styles, ui-ux

style: enhance styles and responsiveness for Video Preview component
  platform/components/CrownCommend/VideoPreview.module.css
Labels: platform, frontend, react, styles, ui-ux

style: enhance styles and responsiveness for Crown Commend page
  platform/styles/pages/crown-commend.module.css
Labels: platform, frontend, nextjs, styles

style: enhance styles and animations for Crown Commend page
  platform/styles/pages/crown-commend.module.css
Labels: platform, frontend, nextjs, styles

style: enhance button styles and animations for generate button and feature cards
  platform/styles/pages/crown-commend.module.css
Labels: platform, frontend, nextjs, styles

style: update Comment Editor component to reflect read-only functionality and remove editing capability
  platform/components/CrownCommend/CommentEditor.tsx
Labels: platform, frontend, typescript, react, ui-ux

style: update language strings in Comment Editor for clarity and consistency
  platform/components/CrownCommend/CommentEditor.tsx
Labels: platform, frontend, typescript, react, ui-ux

.github/labeler.yml:

# DevForge Suite - Auto Labeler Configuration

# ===========================================
# PROJECT LABELS
# ===========================================

platform:
  - platform/**
  - platform/**/*

ai-music-detection:
  - projects/ai-music-detection/**
  - projects/ai-music-detection/**/*

data-manipulation:
  - projects/data-manipulation/**
  - projects/data-manipulation/**/*

ml-toolkit:
  - projects/ml-toolkit/**
  - projects/ml-toolkit/**/*

# ===========================================
# COMPONENT LABELS
# ===========================================

frontend:
  - "**/frontend/**"
  - "**/client/**"
  - "**/ui/**"
  - "**/components/**"
  - "**/pages/**"
  - "**/styles/**"

backend:
  - "**/backend/**"
  - "**/server/**"
  - "**/api/**"
  - "**/services/**"
  - "**/controllers/**"
  - "**/routes/**"

database:
  - "**/database/**"
  - "**/db/**"
  - "**/migrations/**"
  - "**/models/**"
  - "**/schema/**"

# ===========================================
# TECHNOLOGY LABELS
# ===========================================

javascript:
  - "**/*.js"
  - "**/*.jsx"
  - "**/*.mjs"

typescript:
  - "**/*.ts"
  - "**/*.tsx"
  - "**/tsconfig.json"
  - "**/tsconfig.*.json"

python:
  - "**/*.py"
  - "**/requirements.txt"
  - "**/Pipfile"
  - "**/pyproject.toml"
  - "**/setup.py"

react:
  - "**/components/**"
  - "**/hooks/**"
  - "**/context/**"
  - "**/*.jsx"
  - "**/*.tsx"

nextjs:
  - "**/pages/**"
  - "**/app/**"
  - "**/next.config.js"
  - "**/next.config.ts"

nodejs:
  - "**/package.json"
  - "**/package-lock.json"
  - "**/yarn.lock"
  - "**/pnpm-lock.yaml"

# ===========================================
# FILE TYPE LABELS
# ===========================================

documentation:
  - "**/*.md"
  - "**/*.mdx"
  - "**/docs/**"
  - "**/README*"
  - "**/CHANGELOG*"
  - "**/CONTRIBUTING*"
  - "**/LICENSE*"

configuration:
  - "**/*.json"
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.toml"
  - "**/*.ini"
  - "**/.env*"
  - "**/config/**"
  - "**/*config*"

styles:
  - "**/*.css"
  - "**/*.scss"
  - "**/*.sass"
  - "**/*.less"
  - "**/styles/**"
  - "**/tailwind.config.*"

tests:
  - "**/*.test.*"
  - "**/*.spec.*"
  - "**/tests/**"
  - "**/test/**"
  - "**/__tests__/**"
  - "**/cypress/**"
  - "**/playwright/**"
  - "**/jest.config.*"
  - "**/vitest.config.*"

# ===========================================
# GITHUB SPECIFIC LABELS
# ===========================================

github-actions:
  - ".github/workflows/**"
  - ".github/actions/**"

github-config:
  - ".github/**"
  - ".github/ISSUE_TEMPLATE/**"
  - ".github/PULL_REQUEST_TEMPLATE/**"
  - ".github/CODEOWNERS"
  - ".github/dependabot.yml"
  - ".github/labeler.yml"

# ===========================================
# DEPLOYMENT LABELS
# ===========================================

deployment:
  - "**/vercel.json"
  - "**/netlify.toml"
  - "**/Dockerfile"
  - "**/docker-compose.*"
  - "**/kubernetes/**"
  - "**/k8s/**"

scripts:
  - "**/scripts/**"
  - "**/*.sh"
  - "**/*.bat"
  - "**/*.ps1"

# ===========================================
# DEPENDENCY LABELS
# ===========================================

dependencies:
  - "**/package.json"
  - "**/package-lock.json"
  - "**/yarn.lock"
  - "**/pnpm-lock.yaml"
  - "**/requirements.txt"
  - "**/Pipfile.lock"
  - "**/Cargo.lock"

security:
  - "**/SECURITY.md"
  - "**/.nvmrc"
  - "**/security/**"

# ===========================================
# FEATURE AREA LABELS
# ===========================================

authentication:
  - "**/auth/**"
  - "**/authentication/**"
  - "**/login/**"
  - "**/signup/**"

api:
  - "**/api/**"
  - "**/routes/**"
  - "**/endpoints/**"

ui-ux:
  - "**/components/**"
  - "**/ui/**"
  - "**/design/**"
  - "**/assets/**"

performance:
  - "**/optimization/**"
  - "**/performance/**"
  - "**/lazy/**"
  - "**/cache/**"

accessibility:
  - "**/a11y/**"
  - "**/accessibility/**"

mobile:
  - "**/mobile/**"
  - "**/responsive/**"
  - "**/touch/**"

# ===========================================
# AI/ML SPECIFIC LABELS
# ===========================================

machine-learning:
  - "**/models/**"
  - "**/ml/**"
  - "**/ai/**"
  - "**/*.pkl"
  - "**/*.h5"
  - "**/*.onnx"

tensorflow:
  - "**/tensorflow/**"
  - "**/tf/**"
  - "**/*tensorflow*"

audio-processing:
  - "**/audio/**"
  - "**/sound/**"
  - "**/wav2vec2/**"
  - "**/spectral/**"

# ===========================================
# DATA PROCESSING LABELS
# ===========================================

data-processing:
  - "**/data/**"
  - "**/processing/**"
  - "**/transform/**"
  - "**/etl/**"

file-upload:
  - "**/upload/**"
  - "**/file/**"
  - "**/storage/**"

visualization:
  - "**/charts/**"
  - "**/graphs/**"
  - "**/visualization/**"
  - "**/dashboard/**"
