Repository Rtur2003/CrownCode, changes with the labels that .github/labeler.yml gives for each.
All labels: platform, ai-music-detection, data-manipulation, ml-toolkit, frontend, backend, database, javascript, typescript, python, react, nextjs, nodejs, documentation, configuration, styles, tests, github-actions, github-config, deployment, scripts, dependencies, security, authentication, api, ui-ux, performance, accessibility, mobile, machine-learning, tensorflow, audio-processing, data-processing, file-upload, visualization

.github/labeler.yml:

# DevForge Suite - Auto Labeler Configuration

# ===========================================
# PROJECT LABELS
# ===========================================

platform:
  - platform/**
  - platform/**/*

ai-music-detection:
  - projects/ai-music-detection/**
  - projects/ai-music-detection/**/*

data-manipulation:
  - projects/data-manipulation/**
  - projects/data-manipulation/**/*

ml-toolkit:
  - projects/ml-toolkit/**
  - projects/ml-toolkit/**/*

# ===========================================
# COMPONENT LABELS
# ===========================================

frontend:
  - "**/frontend/**"
  - "**/client/**"
  - "**/ui/**"
  - "**/components/**"
  - "**/pages/**"
  - "**/styles/**"

backend:
  - "**/backend/**"
  - "**/server/**"
  - "**/api/**"
  - "**/services/**"
  - "**/controllers/**"
  - "**/routes/**"

database:
  - "**/database/**"
  - "**/db/**"
  - "**/migrations/**"
  - "**/models/**"
  - "**/schema/**"

# ===========================================
# TECHNOLOGY LABELS
# ===========================================

javascript:
  - "**/*.js"
  - "**/*.jsx"
  - "**/*.mjs"

typescript:
  - "**/*.ts"
  - "**/*.tsx"
  - "**/tsconfig.json"
  - "**/tsconfig.*.json"

python:
  - "**/*.py"
  - "**/requirements.txt"
  - "**/Pipfile"
  - "**/pyproject.toml"
  - "**/setup.py"

react:
  - "**/components/**"
  - "**/hooks/**"
  - "**/context/**"
  - "**/*.jsx"
  - "**/*.tsx"

nextjs:
  - "**/pages/**"
  - "**/app/**"
  - "**/next.config.js"
  - "**/next.config.ts"

nodejs:
  - "**/package.json"
  - "**/package-lock.json"
  - "**/yarn.lock"
  - "**/pnpm-lock.yaml"

# ===========================================
# FILE TYPE LABELS
# ===========================================

documentation:
  - "**/*.md"
  - "**/*.mdx"
  - "**/docs/**"
  - "**/README*"
  - "**/CHANGELOG*"
  - "**/CONTRIBUTING*"
  - "**/LICENSE*"

configuration:
  - "**/*.json"
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.toml"
  - "**/*.ini"
  - "**/.env*"
  - "**/config/**"
  - "**/*config*"

styles:
  - "**/*.css"
  - "**/*.scss"
  - "**/*.sass"
  - "**/*.less"
  - "**/styles/**"
  - "**/tailwind.config.*"

tests:
  - "**/*.test.*"
  - "**/*.spec.*"
  - "**/tests/**"
  - "**/test/**"
  - "**/__tests__/**"
  - "**/cypress/**"
  - "**/playwright/**"
  - "**/jest.config.*"
  - "**/vitest.config.*"

# ===========================================
# GITHUB SPECIFIC LABELS
# ===========================================

github-actions:
  - ".github/workflows/**"
  - ".github/actions/**"

github-config:
  - ".github/**"
  - ".github/ISSUE_TEMPLATE/**"
  - ".github/PULL_REQUEST_TEMPLATE/**"
  - ".github/CODEOWNERS"
  - ".github/dependabot.yml"
  - ".github/labeler.yml"

# ===========================================
# DEPLOYMENT LABELS
# ===========================================

deployment:
  - "**/vercel.json"
  - "**/netlify.toml"
  - "**/Dockerfile"
  - "**/docker-compose.*"
  - "**/kubernetes/**"
  - "**/k8s/**"

scripts:
  - "**/scripts/**"
  - "**/*.sh"
  - "**/*.bat"
  - "**/*.ps1"

# ===========================================
# DEPENDENCY LABELS
# ===========================================

dependencies:
  - "**/package.json"
  - "**/package-lock.json"
  - "**/yarn.lock"
  - "**/pnpm-lock.yaml"
  - "**/requirements.txt"
  - "**/Pipfile.lock"
  - "**/Cargo.lock"

security:
  - "**/SECURITY.md"
  - "**/.nvmrc"
  - "**/security/**"

# ===========================================
# FEATURE AREA LABELS
# ===========================================

authentication:
  - "**/auth/**"
  - "**/authentication/**"
  - "**/login/**"
  - "**/signup/**"

api:
  - "**/api/**"
  - "**/routes/**"
  - "**/endpoints/**"

ui-ux:
  - "**/components/**"
  - "**/ui/**"
  - "**/design/**"
  - "**/assets/**"

performance:
  - "**/optimization/**"
  - "**/performance/**"
  - "**/lazy/**"
  - "**/cache/**"

accessibility:
  - "**/a11y/**"
  - "**/accessibility/**"

mobile:
  - "**/mobile/**"
  - "**/responsive/**"
  - "**/touch/**"

# ===========================================
# AI/ML SPECIFIC LABELS
# ===========================================

machine-learning:
  - "**/models/**"
  - "**/ml/**"
  - "**/ai/**"
  - "**/*.pkl"
  - "**/*.h5"
  - "**/*.onnx"

tensorflow:
  - "**/tensorflow/**"
  - "**/tf/**"
  - "**/*tensorflow*"

audio-processing:
  - "**/audio/**"
  - "**/sound/**"
  - "**/wav2vec2/**"
  - "**/spectral/**"

# ===========================================
# DATA PROCESSING LABELS
# ===========================================

data-processing:
  - "**/data/**"
  - "**/processing/**"
  - "**/transform/**"
  - "**/etl/**"

file-upload:
  - "**/upload/**"
  - "**/file/**"
  - "**/storage/**"

visualization:
  - "**/charts/**"
  - "**/graphs/**"
  - "**/visualization/**"
  - "**/dashboard/**"

search: update quick search entry for youtube analysis
  platform/hooks/useSearch.ts
Labels: platform, typescript, react

package: add backend api package markers
  backend/app/__init__.py
  backend/app/routes/__init__.py
  backend/app/services/__init__.py
Labels: backend, python, nextjs, api

schemas: add youtube analysis request and response models
  backend/app/schemas.py
Labels: backend, python, nextjs

parser: add youtube url validation helper
  backend/app/services/url_parser.py
Labels: backend, python, nextjs

downloader: add yt-dlp audio download helper
  backend/app/services/youtube_downloader.py
Labels: backend, python, nextjs

clients: add http adapters for external detectors
  backend/app/services/external_clients.py
Labels: backend, python, nextjs

analysis: orchestrate youtube analysis with preview fallback
  backend/app/services/youtube_analysis.py
Labels: backend, python, nextjs

routes: add backend health endpoint
  backend/app/routes/health.py
Labels: backend, python, nextjs, api

routes: add youtube analysis endpoint
  backend/app/routes/youtube.py
Labels: backend, python, nextjs, api

app: wire fastapi entrypoint with cors and routes
  backend/app/main.py
Labels: backend, python, nextjs

docs: document youtube backend workflow
  backend/README.md
Labels: backend, documentation

env: add youtube backend environment defaults
  .env.example
Labels: configuration

build: update npm command to use corepack for version management
  netlify.toml
Labels: configuration, deployment

fix: handle optional startTimeSec in YouTube URL parsing and response mapping
  platform/hooks/useYouTubeAnalysis.ts
Labels: platform, typescript, react

fix: guard ai detection error message lookup
  platform/pages/ai-music-detection/index.tsx
Labels: platform, frontend, typescript, react, nextjs

i18n: add ai detection source labels for upload and streaming placeholders
  platform/locales/en.json
  platform/locales/tr.json
Labels: platform, configuration

ui: expose ai detection input options alongside YouTube
  platform/pages/ai-music-detection/index.tsx
Labels: platform, frontend, typescript, react, nextjs

styles: add chip styling for ai detection input options
  platform/styles/pages/ai-detection.module.css
Labels: platform, frontend, nextjs, styles

types: centralize ai detection analysis models and source discriminant
  platform/hooks/analysisTypes.ts
  platform/hooks/analysisUtils.ts
  platform/hooks/useYouTubeAnalysis.ts
  platform/pages/ai-music-detection/index.tsx
Labels: platform, frontend, typescript, react, nextjs

hook: add audio file analysis flow with validation
  platform/hooks/useFileAnalysis.ts
Labels: platform, typescript, react

i18n: add ai detection file upload copy and errors
  platform/locales/en.json
  platform/locales/tr.json
Labels: platform, configuration

styles: restore file upload panel and input source chips
  platform/styles/pages/ai-detection.module.css
Labels: platform, frontend, nextjs, styles

ui: add file upload flow alongside youtube analysis
  platform/pages/ai-music-detection/index.tsx
Labels: platform, frontend, typescript, react, nextjs

gateway: add unified analysis client and shared preview helpers
  platform/hooks/analysisGateway.ts
  platform/hooks/analysisTypes.ts
  platform/hooks/analysisUtils.ts
  platform/hooks/useFileAnalysis.ts
  platform/hooks/useYouTubeAnalysis.ts
Labels: platform, typescript, react

functions: add mock analyze gateway endpoint
  netlify/functions/analyze.js
Labels: javascript

build: register netlify functions directory
  netlify.toml
Labels: configuration, deployment

gateway: harden analyze client and input validation
  platform/hooks/analysisGateway.ts
Labels: platform, typescript, react

hooks: route youtube/file through gateway with preview fallback
  platform/hooks/useFileAnalysis.ts
  platform/hooks/useYouTubeAnalysis.ts
Labels: platform, typescript, react

i18n: add backend fallback errors and 30mb limit text
  platform/locales/en.json
  platform/locales/tr.json
  platform/pages/ai-music-detection/index.tsx
Labels: platform, frontend, typescript, react, nextjs, configuration

env: add streaming oauth placeholders to platform example
  platform/.env.example
Labels: platform, configuration

functions: proxy analyze requests to external inference
  netlify/functions/analyze.js
  platform/.env.example
Labels: platform, javascript, configuration

functions: align path with base and disable netlify secrets scan
  netlify.toml
  platform/netlify/functions/analyze.js
Labels: platform, javascript, configuration, deployment

b
  netlify/functions/analyze.js
Labels: javascript

preview: add jittered scores and document interim randomness
  docs/notes/ai-preview-mode.md
  platform/hooks/analysisUtils.ts
  platform/hooks/useFileAnalysis.ts
  platform/hooks/useYouTubeAnalysis.ts
Labels: platform, typescript, react, documentation

preview: accept spotify links and slow down fallback timing
  platform/hooks/analysisTypes.ts
  platform/hooks/useYouTubeAnalysis.ts
  platform/pages/ai-music-detection/index.tsx
Labels: platform, frontend, typescript, react, nextjs

preview: extend minimum response time and add model placeholder
  platform/hooks/useYouTubeAnalysis.ts
  platform/models/README.md
Labels: platform, database, typescript, react, documentation, machine-learning

chore: add placeholder model binary
  platform/models/model-placeholder.bin
Labels: platform, database, machine-learning

chore: add structured model placeholders
  platform/models/README.md
  platform/models/auth_classifier.joblib
  platform/models/label_map.json
  platform/models/metadata.json
  platform/models/scaler.joblib
  platform/models/signature.json
  platform/models/thresholds.json
Labels: platform, database, documentation, configuration, machine-learning

chore: remove unused model placeholder binary
  platform/models/model-placeholder.bin
Labels: platform, database, machine-learning

Refactor code structure for improved readability and maintainability
  FONT/IMFELLDOUBLEPICA-ITALIC.TTF
  FONT/IMFELLDOUBLEPICA-REGULAR.TTF
  FONT/PORTMANTEAU REGULAR.TTF
  FONT/PORTMANTEAU-REGULAR.OTF
Labels: none
