Repository Rtur2003/CrownCode, changes with the labels that .github/labeler.yml gives for each.
All labels: platform, ai-music-detection, data-manipulation, ml-toolkit, frontend, backend, database, javascript, typescript, python, react, nextjs, nodejs, documentation, configuration, styles, tests, github-actions, github-config, deployment, scripts, dependencies, security, authentication, api, ui-ux, performance, accessibility, mobile, machine-learning, tensorflow, audio-processing, data-processing, file-upload, visualization

Refactor code structure for improved readability and maintainability
  platform/public/fonts/im-fell-double-pica-italic.ttf
  platform/public/fonts/im-fell-double-pica-regular.ttf
  platform/public/fonts/portmanteau-regular.ttf
  platform/styles/base/reset.css
  platform/styles/base/typography.css
  platform/styles/base/variables.css
  platform/styles/globals.css
  platform/tailwind.config.js
Labels: platform, frontend, javascript, configuration, styles

style: add hero visual panels and enhance panel positioning
  platform/styles/components/hero.css
Labels: platform, frontend, react, styles, ui-ux

style: add isolation property to hero section for improved layering
  platform/styles/components/hero.css
Labels: platform, frontend, react, styles, ui-ux

style: enhance hero section with z-index and relative positioning for improved layering
  platform/styles/components/hero.css
Labels: platform, frontend, react, styles, ui-ux

style: update box-shadow colors for cta-button for improved visibility
  platform/styles/components/projects.css
Labels: platform, frontend, react, styles, ui-ux

style: update box-shadow color for header logo hover effect for improved aesthetics
  platform/styles/components/header.css
Labels: platform, frontend, react, styles, ui-ux

style: update box-shadow colors for footer, header, and hero components for improved aesthetics
  platform/styles/components/footer.css
  platform/styles/components/header.css
  platform/styles/components/hero.css
Labels: platform, frontend, react, styles, ui-ux

style: update background gradients and colors for ai-detection page for improved aesthetics and consistency
  platform/styles/pages/ai-detection.module.css
Labels: platform, frontend, nextjs, styles

style: update glass effects and shadow glow colors for improved aesthetics
  platform/styles/base/variables.css
Labels: platform, frontend, styles

style: update box-shadow and background colors for improved aesthetics
  platform/styles/base/animations.css
  platform/styles/base/reset.css
Labels: platform, frontend, styles

style: update shadow and border colors for improved aesthetics
  platform/styles/utilities/helpers.css
Labels: platform, frontend, styles

style: update active language option background color for improved aesthetics
  platform/styles/components/language-selector.css
Labels: platform, frontend, react, styles, ui-ux

style: fix justify-content property and update copied button background color for improved aesthetics
  platform/styles/components/copy-button.css
Labels: platform, frontend, react, styles, ui-ux

style: update error icon background and border colors for improved aesthetics
  platform/styles/components/error.css
Labels: platform, frontend, react, styles, ui-ux

style: update heart icon color to use variable for improved theming consistency
  platform/styles/components/footer.css
Labels: platform, frontend, react, styles, ui-ux

style: update background colors and shadows for improved theming consistency
  platform/styles/components/hero.css
Labels: platform, frontend, react, styles, ui-ux

style: update status dot box-shadow colors for improved theming consistency
  platform/styles/components/projects.css
Labels: platform, frontend, react, styles, ui-ux

style: update loading screen gradient and box-shadow colors for improved theming consistency
  platform/styles/components/loading-screen.css
Labels: platform, frontend, react, styles, ui-ux

style: enhance error page and header styles for improved theming consistency
  platform/styles/components/error.css
  platform/styles/components/header.css
  platform/styles/components/ml-toolkit.css
Labels: platform, frontend, react, styles, ui-ux

style: add standard line-clamp properties and update scrollbar-hide styles for improved consistency
  .hintrc
  platform/styles/components/header.css
  platform/styles/components/hero.css
  platform/styles/components/projects.css
  platform/styles/utilities/helpers.css
Labels: platform, frontend, react, styles, ui-ux

style: update background colors and hover effects for improved theming consistency
  platform/styles/components/ml-toolkit.css
Labels: platform, frontend, react, styles, ui-ux

style: update color palette and gradients for improved theming consistency
  platform/tailwind.config.js
Labels: platform, javascript, configuration, styles

search: map inline styles to brand palette tokens
  platform/pages/search.tsx
Labels: platform, frontend, typescript, react, nextjs

data: align dataset page accents with brand palette
  platform/pages/data-manipulation/index.tsx
Labels: platform, frontend, typescript, react, nextjs

style: update 404 page styles to align with brand palette for consistency
  platform/pages/404.tsx
Labels: platform, frontend, typescript, react, nextjs

style: update theme color meta tags to align with brand identity
  platform/components/Layout/MainLayout.tsx
  platform/pages/_document.tsx
  platform/public/manifest.json
Labels: platform, frontend, typescript, react, nextjs, configuration, ui-ux

style: remove unused font preconnect links for cleaner layout
  platform/components/Layout/MainLayout.tsx
  platform/pages/_document.tsx
Labels: platform, frontend, typescript, react, nextjs, ui-ux

style: enhance offline and sitemap pages with brand-aligned typography and color scheme
  platform/public/offline.html
  platform/public/sitemap.xsl
Labels: platform

style: add backdrop filter to enhance button and feature card appearance
  platform/public/offline.html
Labels: platform

docs: normalize ai-preview-mode note to utf-8
  docs/notes/ai-preview-mode.md
Labels: documentation

style: add fortune navigation item to header
  platform/components/Layout/Header.tsx
Labels: platform, frontend, typescript, react, ui-ux

feat: add Crown Fortune feature with motivational messages and interaction
  platform/locales/en.json
Labels: platform, configuration

feat: add Crown Fortune feature with motivational messages and interaction
  platform/locales/tr.json
Labels: platform, configuration

feat: implement Crown Fortune page with interactive spinning wheel and motivational messages
  platform/pages/crown-fortune/index.tsx
Labels: platform, frontend, typescript, react, nextjs

feat: add styles for Crown Fortune page with responsive design and animations
  platform/styles/pages/crown-fortune.module.css
Labels: platform, frontend, nextjs, styles

feat: rename CrownCode to AURIS in HeroSection component and update related comments
  platform/components/Home/HeroSection.tsx
Labels: platform, frontend, typescript, react, ui-ux

feat: add Crown Fortune project to ProjectsSection with icon and status handling
  platform/components/Home/ProjectsSection.tsx
Labels: platform, frontend, typescript, react, ui-ux

feat: add Crown Fortune link to products section in Footer
  platform/components/Layout/Footer.tsx
Labels: platform, frontend, typescript, react, ui-ux

feat: update MainLayout component with AURIS branding and improved metadata
  platform/components/Layout/MainLayout.tsx
Labels: platform, frontend, typescript, react, ui-ux

feat: update product and AI detection sections with AURIS branding and add Crown Fortune details
  platform/locales/en.json
Labels: platform, configuration

.github/labeler.yml:

# DevForge Suite - Auto Labeler Configuration

# ===========================================
# PROJECT LABELS
# ===========================================

platform:
  - platform/**
  - platform/**/*

ai-music-detection:
  - projects/ai-music-detection/**
  - projects/ai-music-detection/**/*

data-manipulation:
  - projects/data-manipulation/**
  - projects/data-manipulation/**/*

ml-toolkit:
  - projects/ml-toolkit/**
  - projects/ml-toolkit/**/*

# ===========================================
# COMPONENT LABELS
# ===========================================

frontend:
  - "**/frontend/**"
  - "**/client/**"
  - "**/ui/**"
  - "**/components/**"
  - "**/pages/**"
  - "**/styles/**"

backend:
  - "**/backend/**"
  - "**/server/**"
  - "**/api/**"
  - "**/services/**"
  - "**/controllers/**"
  - "**/routes/**"

database:
  - "**/database/**"
  - "**/db/**"
  - "**/migrations/**"
  - "**/models/**"
  - "**/schema/**"

# ===========================================
# TECHNOLOGY LABELS
# ===========================================

javascript:
  - "**/*.js"
  - "**/*.jsx"
  - "**/*.mjs"

typescript:
  - "**/*.ts"
  - "**/*.tsx"
  - "**/tsconfig.json"
  - "**/tsconfig.*.json"

python:
  - "**/*.py"
  - "**/requirements.txt"
  - "**/Pipfile"
  - "**/pyproject.toml"
  - "**/setup.py"

react:
  - "**/components/**"
  - "**/hooks/**"
  - "**/context/**"
  - "**/*.jsx"
  - "**/*.tsx"

nextjs:
  - "**/pages/**"
  - "**/app/**"
  - "**/next.config.js"
  - "**/next.config.ts"

nodejs:
  - "**/package.json"
  - "**/package-lock.json"
  - "**/yarn.lock"
  - "**/pnpm-lock.yaml"

# ===========================================
# FILE TYPE LABELS
# ===========================================

documentation:
  - "**/*.md"
  - "**/*.mdx"
  - "**/docs/**"
  - "**/README*"
  - "**/CHANGELOG*"
  - "**/CONTRIBUTING*"
  - "**/LICENSE*"

configuration:
  - "**/*.json"
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.toml"
  - "**/*.ini"
  - "**/.env*"
  - "**/config/**"
  - "**/*config*"

styles:
  - "**/*.css"
  - "**/*.scss"
  - "**/*.sass"
  - "**/*.less"
  - "**/styles/**"
  - "**/tailwind.config.*"

tests:
  - "**/*.test.*"
  - "**/*.spec.*"
  - "**/tests/**"
  - "**/test/**"
  - "**/__tests__/**"
  - "**/cypress/**"
  - "**/playwright/**"
  - "**/jest.config.*"
  - "**/vitest.config.*"

# ===========================================
# GITHUB SPECIFIC LABELS
# ===========================================

github-actions:
  - ".github/workflows/**"
  - ".github/actions/**"

github-config:
  - ".github/**"
  - ".github/ISSUE_TEMPLATE/**"
  - ".github/PULL_REQUEST_TEMPLATE/**"
  - ".github/CODEOWNERS"
  - ".github/dependabot.yml"
  - ".github/labeler.yml"

# ===========================================
# DEPLOYMENT LABELS
# ===========================================

deployment:
  - "**/vercel.json"
  - "**/netlify.toml"
  - "**/Dockerfile"
  - "**/docker-compose.*"
  - "**/kubernetes/**"
  - "**/k8s/**"

scripts:
  - "**/scripts/**"
  - "**/*.sh"
  - "**/*.bat"
  - "**/*.ps1"

# ===========================================
# DEPENDENCY LABELS
# ===========================================

dependencies:
  - "**/package.json"
  - "**/package-lock.json"
  - "**/yarn.lock"
  - "**/pnpm-lock.yaml"
  - "**/requirements.txt"
  - "**/Pipfile.lock"
  - "**/Cargo.lock"

security:
  - "**/SECURITY.md"
  - "**/.nvmrc"
  - "**/security/**"

# ===========================================
# FEATURE AREA LABELS
# ===========================================

authentication:
  - "**/auth/**"
  - "**/authentication/**"
  - "**/login/**"
  - "**/signup/**"

api:
  - "**/api/**"
  - "**/routes/**"
  - "**/endpoints/**"

ui-ux:
  - "**/components/**"
  - "**/ui/**"
  - "**/design/**"
  - "**/assets/**"

performance:
  - "**/optimization/**"
  - "**/performance/**"
  - "**/lazy/**"
  - "**/cache/**"

accessibility:
  - "**/a11y/**"
  - "**/accessibility/**"

mobile:
  - "**/mobile/**"
  - "**/responsive/**"
  - "**/touch/**"

# ===========================================
# AI/ML SPECIFIC LABELS
# ===========================================

machine-learning:
  - "**/models/**"
  - "**/ml/**"
  - "**/ai/**"
  - "**/*.pkl"
  - "**/*.h5"
  - "**/*.onnx"

tensorflow:
  - "**/tensorflow/**"
  - "**/tf/**"
  - "**/*tensorflow*"

audio-processing:
  - "**/audio/**"
  - "**/sound/**"
  - "**/wav2vec2/**"
  - "**/spectral/**"

# ===========================================
# DATA PROCESSING LABELS
# ===========================================

data-processing:
  - "**/data/**"
  - "**/processing/**"
  - "**/transform/**"
  - "**/etl/**"

file-upload:
  - "**/upload/**"
  - "**/file/**"
  - "**/storage/**"

visualization:
  - "**/charts/**"
  - "**/graphs/**"
  - "**/visualization/**"
  - "**/dashboard/**"
